[2016-10-07 16:38] jccurtis opened #1 "Make repo public"
We need to select a proper license (or none at all) before we make the repo public. There is a good discussion of licensing terms [here](https://help.github.com/articles/open-source-licensing/) and an explanation of the primary license types [here](http://choosealicense.com/):
- **MIT License** - Most open and my initial choice
- **Apache License 2.0**
- **GNU GPLv3**

What do you think? Take note

[2016-10-31 22:44] markbandstra opened #3 "Linting standards"
Which linters should we use to standardize our code?

I have become more of a fan of pylint recently. It can give a lot of messages at first, but I find them actually pretty helpful in the long run once a couple of the worst offenders are muted.

Maybe we can consider a minimum linting requirement, like pyflakes or flake8 or pep8, and a recommended standard like pylint with some errors ignored. It

[2016-10-31 23:05] markbandstra opened #4 "Code style standards"
Any opinions on which style to enforce in this project? Besides [PEP8](https://www.python.org/dev/peps/pep-0008/) and [PEP257](https://www.python.org/dev/peps/pep-0257/), there are many others, e.g.:

* [Google Python Style Guide](https://google.github.io/styleguide/pyguide.html)
* [A Guide to NumPy/SciPy Documentation](https://github.com/numpy/numpy/blob/master/doc/HOWTO_DOCUMENT.rst.txt)

PEP8 a

[2016-11-01 19:45] markbandstra opened #5 "Set up continuous integration"
There are [many continuous integration services that integrate with GitHub](https://github.com/integrations/feature/continuous-integration). A very popular one is [travis-ci](https://travis-ci.org), which is free as long as the project is open source (#1), although there is a trial period we could take advantage of.

The purpose of continuous integration is to run the unit tests on each commit to

[2016-12-07 20:41] #4 closed, assigned to nobody

[2016-12-07 21:08] #3 closed, assigned to nobody

[2016-12-07 21:31] jccurtis opened #7 "Add a pylintrc"
Here is an example: http://www.pymvpa.org/misc/pylintrc
Additional info: http://stackoverflow.com/questions/22448731/how-do-i-create-a-pylintrc-file

[2016-12-07 22:15] jccurtis opened #8 "Energy Calibration"
I started drawing out a workflow for the energy calibration in the gdrive folder here:
https://drive.google.com/open?id=0B1WJqGJk5gilcWozU2tPSzQzY3c

This workflow (and more like it) should help us organize the classes. Lets discuss

[2016-12-08 04:38] jccurtis opened #9 "Transfer to lbl-anp"
See here:
https://help.github.com/articles/transferring-a-repository-owned-by-your-organization/

[2017-01-03 22:33] #9 closed, assigned to markbandstra

[2017-01-31 22:14] markbandstra opened #12 "Unit conventions"
Following up on our discussion about using [pint](https://pint.readthedocs.io), I looked a bit more into its usability in our ecosystem. It seems very tightly coupled with numpy and uncertainties to the point where using it is nearly transparent, but its integration with pandas is poor. Quantities with both uncertainties and units can be stored in pandas data structures, but they need to be handle

[2017-02-01 00:16] markbandstra opened #13 "Spectrum bin convention"
We have an unresolved convention to decide on for our Spectrum classes -- should we use bin centers or edges?

I am personally in favor of using bin edges, since that is the more fundamental quantity for histograms (e.g., counts and bin edges are returned by numpy.histogram). Sometimes you may want to use uneven bin sizes, for example. Bin centers can always be calculated from the bin edges. Using

[2017-02-07 02:00] bplimley opened #14 "Re-examine RawSpectrum and CalSpectrum design"
In our early design process we decided to have classes `RawSpectrum` and `CalSpectrum` with `CalSpectrum` inheriting from `RawSpectrum`. I'm starting to dislike that design choice as I think about use cases and energy calibration. Two reasons come to mind.

1. When you load an uncalibrated spectrum and then calibrate it, it transforms from a `RawSpectrum` into a `CalSpectrum`. That means that you

[2017-02-10 00:15] bplimley opened #15 "Poisson uncertainty convention"
For counts `N`, we commonly use `sqrt(N)` as the 1-sigma uncertainty, which is valid for Gaussian statistics (N >> 0). However, in spectra we often deal with counts that are low or zero. Specifically, `sqrt(N)` gives an uncertainty of 0 in the case of 0 counts.

Personally in these situations I have used a suggestion I found in [this Fermilab text article](https://www-cdf.fnal.gov/physics/statisti

[2017-02-13 20:32] bplimley opened #18 "Documentation"
Via Sphinx?

[2017-02-13 20:41] #5 closed, assigned to nobody

[2017-02-13 20:49] bplimley opened #19 "Restructure file parsing and parser classes"

[2017-02-21 19:18] bplimley opened #20 "More example spectra"
Once we start working on actual analysis modules, it will become important to have a variety of spectra for testing. Let's brainstorm our needs here, and we can all contribute spectra as we have a chance.

### File types (for parsers that haven't been written yet):
* *.CHN
* *.N42

### Detector types:
* NaI
* CdZnTe
* CsI

### Use cases / sources:
* check sources for calibrations
* environmental s

[2017-02-22 23:10] bplimley opened #21 "Electron range calculations and lookups"
I have code that uses Tabata's analytical formulae for electron CSDA and extrapolated ranges. It's old code, so it needs cleanup. I'd like to add web queries for NIST ESTAR (electron stopping powers and ranges). ESTAR doesn't give extrapolated ranges, and only gives CSDA ranges for their default grid energies, which is why Tabata is useful.

I'm making this issue to remind myself to work on this l

[2017-03-07 22:48] #13 closed, assigned to nobody

[2017-03-07 22:53] #14 closed, assigned to nobody

[2017-03-07 22:56] bplimley opened #22 ""Feature"/"Peak" class structure"
Base classes / structure for peaks or other spectral features.

[2017-03-07 22:58] bplimley opened #23 "Implement uncertainties in core modules"
Also discussed in #15.

[2017-03-07 23:02] bplimley opened #24 "N42 file parser"
See #20.

@markbandstra has some working code that will need cleaning up. As per today's meeting, he should commit on a dedicated branch.

@jccurtis has spent time on this too.

[2017-03-07 23:06] bplimley opened #25 "Photon attenuation lookup"
Via NIST XCOM.

[2017-03-07 23:08] bplimley opened #26 "Decay data lookup"
Via NNDC. @markbandstra working on in the `feature-nndc` branch.

[2017-03-08 21:50] bplimley opened #27 "Normalized spectrum subtraction"
Add a method in `Spectrum` that takes another `Spectrum` instance as input, scales it by livetime, and subtracts it from the base object, returning a new `Spectrum` object.

This could be a standalone function that takes two spectra, or a `Spectrum` method, or both.

See also #28.

[2017-03-08 21:52] bplimley opened #28 "Addition and subtraction of calibrated spectra"
Currently the magic methods in `Spectrum` for addition and subtraction refuse to operate on calibrated spectra, since in general the binning will be different. To do so requires a rebinning method (#29).

[2017-03-08 21:55] bplimley opened #29 "`Spectrum` rebinning"
* Rebinning according to an input bin edges vector
* `rebin_like(spec)` to use the binning from another spectrum

Please expand on this, I'm not very familiar with rebinning methods or needs.

[2017-03-14 22:29] #7 closed, assigned to nobody

[2017-03-14 22:29] #25 closed, assigned to markbandstra

[2017-03-15 19:20] bplimley opened #30 "Test function names"
@markbandstra I notice that your XCOM tests are in two named classes but all the methods are numbered (`XCOMQueryTests.test_01()`, etc.).

At first I thought this was less readable, but I realized that 1) the description is in the docstring, which otherwise is essentially redundant with the method name, and 2) the numbering ensures that `unittest`/`nose`/whatever runs them in the desired order, si

[2017-03-15 19:34] bplimley opened #31 "Use py.test instead of nose"
[`nose`] says the project has been in maintenance mode and updates may cease in the future. It suggests switching to `nose2` (based on `unittest2`) or `py.test`.

I'm not very familiar or picky, but I know @jccurtis has talked about `py.test` already.

[2017-03-15 19:38] bplimley opened #32 "Efficiency calibration"
Energy-dependent detector efficiency calibration.

~The basis for this (having peaks with a net area and assigning a calibration value) should be in my upcoming pull request for energycal and peaks. But it will take some expanding, probably along the lines of the (upcoming) energycal design.~

[2017-03-16 23:09] bplimley opened #34 "Streamline test suite"
Currently, the test suite includes plots (from the file parsers) as well as web queries (for `xcom`). The plots require clicking to close the window, before the tests continue. The web queries just take several seconds and require internet.

How about a `--quick` option or so, that skips some of these. I haven't thought about how to do this from `setup.py test` and `setup.py nosetests`, but in the

[2017-03-17 00:26] bplimley opened #35 "How should channel numbers relate to bins? (bq convention)"
This came up at some point previously.

If I'm calibrating energy and I say that channel N corresponds to a certain energy, what does that mean? Is that the energy of the _center_ of the bin indexed by N? Or the energy of the left edge (or right edge)? It affects how we generate a calibration curve from fits in the spectrum. This is a convention we can decide.

I don't feel strongly, since I haven

[2017-03-17 00:27] bplimley opened #36 "How do channel numbers relate to bins? (external files)"
Related to #35.

If I'm loading a Spe file from GammaVision (for example), and the file provides polynomial coefficients for a calibration curve, and I put N (channel value) into the equation, is the result the energy of the center of that bin? Or the left edge (or right edge)? It affects how we load calibrated spectra from external files, and whether we reproduce the calibration correctly. This i

[2017-03-23 22:21] bplimley opened #37 "Spectrum plotting"
Methods in `Spectrum` for plotting. Visualization is not a main focus, but at least basic plotting with some common options.

Some ideas:
* use `drawstyle='steps-mid'` for "stairs"-type plot
* log y-scale by default
* automatically label axes
* color, legend label, title
* allow plotting into an existing axes

[2017-03-23 22:25] bplimley opened #38 "Counts, CPS, CPS/keV"
See also discussion in #27.

Various units are useful in different situations, like normalizing and rebinning. Arithmetic operations on spectra produce a data result that could be considered to not have a time duration, but only be in CPS.

How should these different count units be implemented?

[2017-03-23 23:29] bplimley opened #40 "Use Coveralls for integrated code coverage reporting"
[Coveralls](https://coveralls.io/) basically adds code coverage reports through Travis CI.

Coveralls is free for open-source repos, so once we are public (#1) we can try it.

- [ ] Add a badge

[2017-04-04 22:57] #34 closed, assigned to nobody

[2017-04-04 22:58] #31 closed, assigned to bplimley

[2017-04-06 22:37] #8 closed, assigned to bplimley

[2017-04-11 18:30] #35 closed, assigned to nobody

[2017-04-11 18:32] #36 closed, assigned to nobody

[2017-04-11 18:34] #30 closed, assigned to nobody

[2017-04-12 19:24] bplimley opened #44 "Saving to file"
Either in external formats or internal formats.

External formats will probably not be able to contain all the information (e.g. uncertainties in a subtracted spectrum, calibration points in addition to coefficients). So an internal format (based on XML or JSON or something) would be helpful.

[2017-04-13 04:16] bplimley opened #45 "Uncertainties in energy calibration points"
This is split off from #23 (PR #43) because it has gotten complicated, and is not considered urgent. My work so far on it is on branch `feature-energycal-uncertainties`. (And some comments I made are in the "Show outdated" line comments on #43.)

One suggestion @markbandstra had was to see if `lmfit` knows how to handle x-uncertainties in a least squares fit, in order to avoid inverting the calibr

[2017-04-13 17:54] #23 closed, assigned to bplimley

[2017-04-13 19:15] bplimley opened #46 "package import structure"
Currently, `becquerel/__init__.py` only imports `core`, `parsers`, and `tools`. `becquerel/core/__init__.py` then imports useful things like the `Spectrum` class and `LinearEnergyCal`. Thus:
[code]

I suggest importing more `core` classes and functions at the top level:
[code]

Of course, one can always `from bq.core import Spectrum, ...` but this is not always a preferred approach.

This could be

[2017-04-13 23:56] #46 closed, assigned to nobody

[2017-04-21 17:14] bplimley opened #49 "How to present example code"
Clearly, an important part of usability is having example code for people to see how Becquerel works.

There are several possible approaches to this, at least:
* code snippets in docstrings (as in `spectrum.py` and `energycal.py`)
* scripts in `examples` directory (as in #16)
* Jupyter notebooks
* code as part of HTML documentation (like Sphinx; see #18)

Comments:
* Docstrings: preferably not mor

[2017-04-21 18:44] #12 closed, assigned to nobody

[2017-04-24 22:51] bplimley opened #50 "Fitting module"
For peak fitting, energy cal fitting.
To use `lmfit`.
@jccurtis to take code from GRPP as a start.

(see also #22)

@jccurtis TODO:
- [ ] Update `erf` naming
- [ ] Add warning when fit errors unknown

[2017-05-02 21:24] jccurtis opened #51 "Add XCOM Table2 materials to XCOM query tool"
There are a group of materials built into XCOM for quick reference in the [X-Ray Mass Attenuaton Coeff](https://www.nist.gov/pml/x-ray-mass-attenuation-coefficients) Tables [2](http://physics.nist.gov/PhysRefData/XrayMassCoef/tab2.html) and [4](http://physics.nist.gov/PhysRefData/XrayMassCoef/tab4.html). I end up using these tables often for quick reference for attenuation through common materials

[2017-05-02 21:29] jccurtis opened #52 "XCOM attenuation calculator"
Unless I'm mistaken there is not currently a tool to calculate the attenuation of a gamma ray given energy, elemental compound, density and thickness. I'm pretty sure @markbandstra has developed this for his gamma spectrum emission and detection simulator. I propose we include the calculator inside the XCOM tool as another function which could use the material definitions in #51.

[2017-05-04 21:54] chunhochow opened #55 "Purge internal items before releasing to public"
We should purge at least internal meeting notes (both the normal meetings and IPO discussions) before making the repo public. I can't think of anything else that needs to be purged right now.

[2017-05-05 17:39] bplimley opened #56 "Energycal example notebooks"
But maybe this should be combined with peak fitting once we have that?

[2017-05-08 20:22] bplimley opened #57 "Organization of tools"
The `tools` module is growing, with `xcom`, `nndc`, `materials`, and `estar` in pull requests or issues. This is great, what's the best structure for organizing these tools?

* As per @markbandstra's comment in #51, `xcom`, `materials`, and `estar` could all go in a `nist` submodule.
* I see several similar classes that @markbandstra has created for HTML requests, and I wonder if their structure c

[2017-05-09 23:55] #51 closed, assigned to jccurtis

[2017-05-10 22:27] #27 closed, assigned to nobody

[2017-05-10 22:30] #28 closed, assigned to nobody

[2017-05-10 22:31] #38 closed, assigned to nobody

[2017-05-12 18:42] bplimley opened #59 "Isotope objects"
## Context
@markbandstra's `Isotope` class currently handles parsing of element, mass, and isomers from a string.

In addition, the `nndc` module allows lookup of an isotope's wallet card (half life, decay mode(s) and branching, etc.) as well as decay radiation.

## My goals
I'm thinking the `Isotope` class should be able to contain and use useful data from NNDC or elsewhere, including
* half-life

[2017-05-12 21:18] bplimley opened #60 "PyNE as a dependency?"
[PyNE](http://pyne.io/index.html) is a "nuclear engineering toolkit" which a variety of Berkeley people have put together (Rachel Slaybaugh, students, and other volunteers). Their focus is reactors (in other words, "real" nuclear engineering). So, MCNP, cross sections, ORIGEN, and other things I'm unfamiliar with.

They have functionality that overlaps with some of our `tools` modules, including m

[2017-05-18 23:30] chunhochow opened #61 "Rebinning: cast input as float instead of assert float?"
https://github.com/lbl-anp/becquerel/blob/3d290e92e6441fb44b1cd7d025cd1b57117ae5c0/becquerel/core/rebin.py#L164-L166
Should we cast the inputs `.astype(np.float)` instead of checking using assertions?
If so I'll also split the function `_check_ndim_and_dtype()` into a `check_ndim()` and `check_dtype()` and have `_check_ndim_and_dtype()` call both of them.

[2017-05-22 22:52] #61 closed, assigned to jccurtis, chunhochow

[2017-05-24 18:45] bplimley opened #63 "html5lib dependency"
When I run `pytest -m ""` to include webtests, I get two failures in `test_materials.py` on `test_element_data` and `test_compound_data`.

If `html5lib` is required for these should it go in `requirements.txt`?

[code]

[2017-05-24 21:32] bplimley opened #64 "materials_test.py test_element_data failing"
I'm getting this test failure. It is a `webtest` so Travis doesn't run it.

The traceback shows code in `site-packages/bs4/element.py`. This suggests that `materials.py` is loading the wrong `element` module somehow. Can others reproduce this? Is it something wonky in my installation?

[code]

[2017-05-24 23:59] bplimley opened #65 "Floating-point precision in exponential decays"
`IsotopeQuantity.decays_from` and `IsotopeQuantity.from_decays` can suffer in precision if halflife >> time interval. This is because the calculations involve a `1 - np.exp(-decay_const * time)` kind of expression, and if `decay_const * time` is very small, the exponent is very close to 1, and the difference loses precision because of these two floating point quantities. See `np.spacing`.

Better

[2017-06-07 01:37] jackie-k-garcia opened #66 "Unstable Isotopes in NeutronIrradiation"
We are using the Isotope class for RadWatch analysis, specifically for NAA. We found that there is a discrepancy between what NNDC says about Eu-151 versus what nucleardata.lu regarding stability; NNDC says Eu-151 is not stable. This is complicating our attempts to use this class for calculations for finding concentration of Eu-151 in our samples because the NeutronIrradiation class currently does

[2017-06-14 19:38] #55 closed, assigned to nobody

[2017-06-14 19:53] #63 closed, assigned to nobody

[2017-06-14 19:53] #59 closed, assigned to markbandstra, bplimley

[2017-06-14 19:53] #64 closed, assigned to nobody

[2017-06-14 20:12] #1 closed

[2017-07-18 22:40] chunhochow opened #70 "Contributor License Agreement assistant"
Something like this might be helpful if we want external contributors to explicitly have to press "Agree" to our licensing language or leave information before their pull request clears all checks.
https://cla-assistant.io/
https://github.com/cla-assistant/cla-assistant

[2017-08-24 18:01] markbandstra opened #74 "Test error in test_isotopequantity_decays_during[Tl-208]"
An error has recently started cropping up in the Travis builds:

[code]

The error is that the calculation of ```IsotopeQuantity.decays_during``` over the course of one half-life of Tl-208 (3 minutes) does not end up close enough to "original number of atoms / 2". The two numbers in ```np.isclose``` differ by a relative size of **1.1E-5**, but the default ```rtol``` for ```np.isclose``` is **1.0E-

[2017-08-29 02:22] markbandstra commented on #74
This bug occurs because ```iq.atoms_now()``` calculates the number of atoms when the statement is evaluated relative to the time when ```iq``` was instantiated, but ```iq.decays_during(spec)``` calculates the decays from ```t0``` to ```t1```. In practice it looks like ```t0``` can be ~1 millisecond later than ```iq```'s reference time, and thus this test can fail for half-lives that are ~1e5 * 1 m

[2017-08-31 20:03] #74 closed

[2017-09-09 00:30] jccurtis opened #76 "XCOM returns wrong data for request"
This unexpected test failure arose during [build 40.2](https://travis-ci.org/lbl-anp/becquerel/jobs/271779261) on python 3.6. The `TestFetchXCOMData` has a redundant `TestXCOMQuery` which queries XCOM for every test and one of the requests returned incorrect data:

[code]

I gave this test a shot and would be interested for your feedback @markbandstra:

[code]

The output gives different results a

[2017-09-12 19:46] jccurtis opened #77 "Add quadratic and saturation model to EnergyCal"

[2017-09-12 19:56] chunhochow commented on #29
Todo:
- [ ] Binomial sampling option (keyword argument)
- [ ] auto fit linear spline (keyword arg)
- [ ] auto fit higher-order spline? (with a Sav-Gol filter?)
- [ ] write tests

[2017-09-12 22:41] chunhochow commented on #70
This actually requires us to host a server to host the site where people sign the agreement. It's doable, but would require some work and is probably less than ideal for us.

[2017-09-12 23:26] jccurtis commented on #70
@chunhochow It looks like you can use the free hosted instance (from SAP) at https://cla-assistant.io which stores data in an `mLab` database. I'm not sure if this would be permanent solution. We could host the service but the upkeep is likely outside our current scope. 😄

[2017-11-16 20:00] markbandstra commented on #76
I performed a brief census of these "test_07" failures to date.

Out of the last 27*2 = 54 builds on Travis, there have been 9 such failures. In one of those failures, two tests failed (both TestXCOMQuery.test_07 and TestFetchXCOMData.test_07).

Failures by python version:
* Python2: **3** individual test failures
* Python3: **7** test failures

Failures by test:
* TestXCOMQuery.test_07: **5**
* T

[2017-11-16 21:10] markbandstra commented on #76
I wrote the following test script:

[code]

Running it reveals the following:
* Errors only happen for **compounds** like "H2O" or "NaCl", not for **elements** or **mixtures**.
* It is not clear whether this is a problem with becquerel or the remote server.
* A workaround for now is to query using an equivalent mixture for the compound (e.g., ['H 2', 'O 16'] or even ['H2O 1'] instead of "H2O").

H

[2017-11-16 21:26] markbandstra commented on #76
@jccurtis and I just played with their website and you can easily get the compound query to return the wrong energies -- and even data that is obviously for the wrong compound! -- about 10% of the time. So this is a bug on the XCOM side.

https://physics.nist.gov/cgi-bin/Xcom/xcom2

TODOs to resolve this issue:
- [ ] Implement workaround by mapping compounds to mixtures: `"H2O" --> ['H2O', '1']`
-

[2017-11-28 19:35] #76 closed

[2017-12-02 01:42] jccurtis opened #80 "CHN File Support"
We don't currently support the default spectrum file format from Ortec software (CHN).

Documentation is [here](http://web.mit.edu/8.13/8.13d/manuals/ortec-software-file-structure-manual.pdf) (page 11 of the PDF or page 5 of the doc)

[2017-12-05 01:32] jccurtis opened #81 "SPE File Parser $ENDRECORD"
Whenever I convert a file with PeakEasy to an SPE file it adds a line at the end of the file (with nothing following):

[code]

This prints a warning:

[code]

I think this line is a generic metadata tag to contain other information that cannot be natively saved within a `SPE` file (i.e. when converting a more complex file like `SPC` or `N42`).

I propose that we:

- [x] Figure out if this line ha

[2018-01-04 16:24] markbandstra opened #82 "Continuous integration tests took over 30 minutes to run"
The Travis-CI [build #146](https://travis-ci.org/lbl-anp/becquerel/builds/323646996) on 31 Dec 2017 took a total of 36 minutes to run: 21.5 minutes for python2 and 14.5 minutes for python3. Why did this happen?

[2018-01-04 18:10] markbandstra commented on #82
I don't see any time information in the log files that would help us get to the bottom of this issue. We might want to look into a way to display the elapsed time for each test or set of tests.

[2018-01-08 22:21] markbandstra opened #83 "Error during CI: "distutils.errors.DistutilsError: Download error for https://pypi.python.org/packages/...: [Errno 99] Cannot assign requested address""
There have been 2 or 3 occurrences in the last two weeks of Travis-CI integration tests failing because of the following error (this is a particular instance from 1/7/18, I'm assuming the hashes change):

[code]

Our test configuration is
[code]

The full log is here: [travis_150_1_log.txt](https://github.com/lbl-anp/becquerel/files/1613251/travis_150_1_log.txt)

[2018-01-09 00:54] jccurtis commented on #83
Thanks for logging this @markbandstra, I can download the wheel installer from that exact [url](https://pypi.python.org/packages/d1/8a/5f1385bba05d887662835d1230fb9a362c5c03f4f744a4fe0455d9474cf3/pytest_runner-3.0-py2.py3-none-any.whl#md5=25076b14ff1877c02434953044f4f2a8) which is a bit strange.

I've noticed that these failed builds also have an earlier error during OS setup which looks like a ne

[2018-01-09 01:21] markbandstra commented on #83
Appears to be related to this:
https://github.com/travis-ci/travis-ci/issues/9000

[2018-01-09 01:27] jccurtis commented on #83
In any case, lets upgrade the build ENV to `xenial`. `bionic` is coming out at the end of April 😄 ...

[2018-01-09 17:03] markbandstra commented on #83
It looks like Travis does not offer xenial as a build environment. This limitation is mentioned in various issues, and their [documentation](https://docs.travis-ci.com/user/reference/overview/) only lists precise and trusty.

[2018-01-09 19:23] jccurtis commented on #83
Ah yes, thanks @markbandstra! There is a lot of chatter and confusion in the travis GitHub issues regarding the lack of Xenial support. Apparently it (unofficially) worked in Dec for a couple weeks while they were doing some testing.

Additionally all travis builds are currently defaulting to `sudo=required`: https://twitter.com/travisci/status/950481155740127232

<blockquote class="twitter-tweet"

[2018-01-09 19:50] markbandstra commented on #83
So should we just wait this out? I would like to avoid setting ```sudo: required```.

[2018-01-09 22:11] jccurtis commented on #83
Yeah, lets wait until Xenial is released as a build ENV on Travis which should happen in the next couple of months (since Bionic is coming out on April 26).

I think the current builds should complete as expected because the default ENV is sudo regardless of our setting.

Can you elaborate on your avoidance of using `sudo`? I understand it is not necessary to test `Bq` but it appears to be a way t

[2018-01-11 03:04] markbandstra commented on #83
I would like to avoid the `sudo` option in the long run because we don't recommend installing our package with `sudo python setup.py install`, and `sudo` could mask important issues that could come up during installation.

[2018-01-11 18:45] jccurtis commented on #83
That sounds good. Lets leave this open until Travis release's a `xenial` build env.

[2018-01-11 18:49] jccurtis commented on #83
Additionally, `sudo=false` is now routed correctly so **our builds are NOT using `sudo`**:

https://blog.travis-ci.com/2018-01-08-travis-response-meltdown-spectre

We may see this issue pop up again but I think that is fine for the time being.

[2018-02-10 00:10] jccurtis opened #85 "Add description and topics"
Becquerel doesn't have a short description (on the github header or in the readme) or any topics listed. I propose the following (mostly from @markbandstra):

Regarding topics:
- `nuclear-physics`
- `spectroscopy`
- `gamma-ray`
- ???

Thoughts?

[2018-02-10 00:16] jccurtis opened #86 "Invalid energy coeffs prevent loading file"
If an SPE file has the following tag:

[code]

A `ValueError` is raised upon loading that will prevent usage of the data file. I propose that we change this `error` to a `warning` and don't set the energy calibration for the output `Spectrum` object.

[Example spe file (changed ext to txt to upload)](https://github.com/lbl-anp/becquerel/files/1712788/digibase_5min_30_1.txt)

_Edited to correct spe

[2018-02-13 20:59] markbandstra commented on #83
Travis must have fixed this.

[2018-02-13 20:59] #83 closed

[2018-02-13 21:04] jccurtis commented on #21
Closing as won't fix for now

[2018-02-13 21:04] #21 closed

[2018-02-13 21:05] markbandstra commented on #82
This has stopped happening.

[2018-02-13 21:05] #82 closed

[2018-02-13 21:07] #60 closed

[2018-02-13 21:26] jccurtis opened #87 "CSV Spectrum Input / Output"
We don't currently have a method to read/write to CSV files

- [ ] check `PeakEasy` for for standard CSV format
- [ ] ???

[2018-02-16 23:28] cosama commented on #24
The standard is here: https://www.nist.gov/pml/radiation-physics/n42-2011

Also it seems that the xsd has been moved https://www.nist.gov/sites/default/files/documents/pml/div682/grp04/n42.xsd.

There is also a ISO Schematron that could be used for checking correcte parsing.

Would it make sense to have all the URLs in special config file? I would say so.

[2018-02-16 23:32] jccurtis commented on #24
Can the XSD be referenced in the file header upon creation?

[2018-03-14 16:21] jccurtis opened #88 "Rebin: auto fit higher-order spline? (with a `Sav-Gol` filter?)"
Moved from #78. @chunhochow can you ad more context?

[2018-03-14 16:22] jccurtis opened #89 "Rebin: auto fit linear spline (keyword arg)"
Moved form #78.

[2018-03-14 16:25] jccurtis opened #90 "Rebin: Add binomial sampling option"
Moved from #78.

[2018-03-14 20:09] markbandstra opened #91 "Travis-CI test failure: TestWalletCardCache.test_fetch -- NNDCRequestError: Request failed: Your search was unsuccessful"
An error occurred during today's tests, but I could not reproduce it on my local repo. This error is probably just a one-off connection error since it happened during a request for NNDC data.

https://travis-ci.org/lbl-anp/becquerel/jobs/353499365

[code]

[2018-03-21 01:26] alihanks commented on #66
It looks like this issue was only addressed in cases where an `IsotopeQuantity` is used as `initial`:

`if not initial.is_stable:
            raise NotImplementedError(
                'Activation not implemented for a radioactive initial isotope')`

This will still cause a failure if an Isotope is given as `initial`, where `is_stable` does not come from some a stability threshold the user can spe

[2018-03-27 00:14] markbandstra opened #92 "`find_strongest_lines` function in NNDC tools?"
It might be convenient to wrap the function `tools.nndc.fetch_decay_radiation` with a function that returns just the gamma-ray lines above a given intensity for a single isotope. Something like:

[code]

This issue bears at least a superficial similarity to the convenience functions for XCOM discussed in #52.

[2018-03-27 19:27] jccurtis commented on #66
@alihanks has a resolution: add a `kwarg` for the minimum half life which is considered **stable** in NAA `activate` method. This will directly check the half life property to determine stability.

[2018-03-27 20:00] chunhochow commented on #70
Ignored for now

[2018-03-27 20:00] #70 closed

[2018-03-27 20:09] jccurtis opened #94 "Overview notebook"

[2018-03-27 21:08] markbandstra commented on #94
Here's a potential outline off the top of my head:

* Core
    * The `Spectrum` object
        - demonstrate how to instantiate the object with count data
        - I/O from standard file types
        - explain how uncertainties are handled
        - demonstrate various properties: e.g., `cps`, `cpskev`
        - demonstrate magic methods (add, sub, mul, div)
    * Calibrations
        - demonstr

[2018-03-28 19:53] markbandstra opened #95 "Travis-CI test failure: TestDecayRadiationQuery tests -- NNDCRequestError: Request failed: Internal Server Error and Request failed: Service Temporarily Unavailable"
Twenty-nine errors occurred during today's python3 tests, but I could not reproduce them on my local repo. Like #91 I think these errors are a one-off, potentially due to the website being down during the requests.

https://travis-ci.org/lbl-anp/becquerel/jobs/359529879

Here are the first few errors:

[code]

[2018-04-02 23:41] jccurtis opened #96 "fetch_wallet_card kwarg overwrite"
@markbandstra and I just found a bug with to `nndc.fetch_wallet_card` when specifying `z` and `a_range`. It looks like the `z` kwarg is overwritten

[2018-04-03 00:02] jccurtis opened #97 "fetch_decay_radiation add elevel_range to query on Parent (Isotope) Energy Level"
Query the output DataFrame on the column: `Parent Energy Level (MeV)`

[2018-04-06 21:06] jccurtis opened #98 "SPE file $PRESETS field"
Reading the test spectrum (`1110C NAA cave pottery.Spe`) results in these warnings for the `$PRESETS` field:

[code]

We should added these as metadata of the `Spectrum` object as in  #81.

[2018-04-09 17:52] jccurtis opened #99 "Additional energy calibration models"
Building off of #33, #41, we should add additional energy calibration models using `EnergyCalBase`

[2018-04-09 17:54] jccurtis commented on #85
I've added the description and some topics. We can add more as `Bq` evolves. Closing ...

[2018-04-09 17:54] #85 closed

[2018-04-09 17:55] jccurtis commented on #92
I think this would be very useful. Can you add (with tests)?

[2018-04-09 18:09] jccurtis opened #100 "[Cnf][Spc]File default verbosity"
The `CNF`/`SPC` parsers are more verbose by default than others:

[code]

This should be changed to behave like the other parsers (silent except warnings by default)

[2018-04-09 18:55] jccurtis opened #101 "Change Spectrum.bin_edges_keV to a property"
The bin_edges_keV array should be hidden: `_bin_edges_keV` and the setter should perform this work which is currently in the `__init__`:

[code]

[2018-04-10 18:37] jccurtis opened #103 "Parsers shouldn’t duplicate core tools"
The spectrum_file in parsers duplicates code from Spectrum and ECal in core. The parsers should be updated to use the core tools as appropriate based on the file ICD (ie quadratic interpolation, etc). We should take care to not create circular imports.

TODO:

- [ ] Cleanup the inheritance between `SpectrumFile` and the type-specific parsers like `SpeFile`
- [ ] Add verbosity option to `SpectrumFi

[2018-04-10 19:23] markbandstra opened #104 "Cache all web query data for offline use"
We should consider caching the datasets (NNDC, XCOM) that are queried from the web.

Should this happen during installation? Or a standalone script to customize cache location, for instance?

The solution could be as simple as writing existing DataFrame structures to file.

[2018-04-10 19:32] jccurtis opened #105 "Document metastable state determination for NNDC query"
And test for other metastable states to assess the performance of this procedure for different isotopes

[2018-04-10 20:29] markbandstra opened #106 "Decay chain information"
We should integrate isotope decay chain information into becquerel.

Potential areas of development:
  * A `DecayChain` class to handle decay chain data, such as isotopes and branching ratios, maybe even equilibrium information.
  * `Isotope` can be aware of its natural decay chain.
  * A function like `fetch_decay_radiation` that will perform the radiation query over a list of isotopes and their

[2018-04-10 21:41] jccurtis opened #107 "Cleanup quickstart-notebook branch and cherry-pick commits into new branches"
The `quickstart-notebook` branch is now a mess of various features which should be cherry-picked onto a different branch (or branches) to clean up/isolate the PR's to merge the features.

I also think this is a VERY good time to move towards a [git-flow](https://www.atlassian.com/git/tutorials/comparing-workflows/gitflow-workflow) like scheme with use of the `develop` branch. The master branch wou

[2018-04-11 15:47] markbandstra commented on #103
The inheritance between `SpectrumFile` and the type-specific parsers like `SpeFile` is messy and needs to be cleaned up. Whoever works on this issue might consider doing this as well.

[2018-04-11 16:24] jccurtis commented on #26
Closing via #16, create new issues for bugs related to NNDC

[2018-04-11 16:24] #26 closed

[2018-04-11 16:26] jccurtis commented on #105
@markbandstra could you make a notebook illustrating this process?

[2018-04-11 16:28] jccurtis commented on #103
Agreed! I'll have a look.

[2018-04-21 19:15] cosama commented on #101
Slightly related: While writing the plotting stuff, I also saw the need for a channel_edge property. It is in the SpectrumPlotter class for now, but maybe should be moved to the Spectrum itself, seems more natural to me.

[2018-05-22 19:43] markbandstra commented on #44
We might also want to think about saving features that have been fit to the spectrum, in our own internal format.

[2018-05-22 19:44] #96 closed

[2018-05-22 19:45] markbandstra commented on #49
We have been using notebooks.

[2018-05-22 19:45] #49 closed

[2018-05-22 20:37] #86 closed

[2018-05-22 20:49] #97 closed

[2018-05-23 17:50] cosama opened #112 "Spectrum multiplication, addition and subtraction problems"
* The spectrum has no `__rmul__` method, thus `2*spectrum` produces an error, while `spectrum*2` works. This should be easy to add, it would be pretty much just a copy of `__mul__.` This doesn't affect division, I think `2/spectrum`, doesn't make sense.

* If both spectra in addition/subtraction don't have cps defined an error is thrown. I think in that case it should just ignore cps. If one has c

[2018-05-23 17:59] cosama commented on #112
I just add this here, even though it is only slightly related. If an array with negative values is passed to the spectrum class it causes a warning in  `counts, uncs, lambda x: np.maximum(np.sqrt(x), 1))`. Not sure what to do about that.

[2018-05-23 19:13] jccurtis opened #113 "Negative inputs to Spectra"
@cosama noted the a Spectra input with negative counts causes a warning when calculating uncertainty via `np.sqrt`. See: https://github.com/lbl-anp/becquerel/blob/develop/becquerel/core/spectrum.py#L126-L146

[code]

This can cause confusion and doesn't gracefully handle the situation. I propose a check for negative values in the `counts` which raises an error. Thoughts?

[2018-05-23 19:19] jccurtis commented on #112
- Good catch, I've moved the negative input discussion to #113.
- The spectra sub operation doesn't make sense unless you are operating on time dependent values. Can you think of a use case in which you would subtract counts?
- The spectra add operation should be able to handle counts when no cps / livetime are defined. Is this not the case? We should add a test ...

[2018-05-23 19:39] cosama commented on #112
To be honest the reason why this all popped up is because I needed a spectrum with negative counts to test errors related to y-limits when creating log plots (which can not include negative values). The only two ways to get one is to either pass a np array with negative values to the constructor or to subtract a spectrum from the other. It is something that probably is hardly ever encountered in r

[2018-05-23 23:59] markbandstra commented on #113
I think it would be useful to allow negative `Spectrum` count values in some cases. For example, when background subtraction is performed some parts of the resulting spectrum may be consistent with zero and therefore be randomly scattered above and below zero.

What do you think about the following:
- By default, if `Spectrum` is initialized with only `counts`:
    - Enforce that those values must

[2018-05-24 01:08] cosama commented on #113
I came to the same conclusion as Mark did:
* if `counts` and `uncs` are provided we should let the user do whatever,
* if only counts are provided, we raise an error when negative values are encountered (maybe with a hint that the behavior can be altered with providing `uncs`).

If we set a flag as Mark suggested, we have to unset the flag on subtraction of two spectra (also relates to #112).

[2018-05-24 18:09] cosama commented on #37
I just submitted the newest version, it includes errorbars/bands too. Have a look, if it is good I can send out the pullrequest.

[2018-06-05 20:00] jccurtis opened #115 "Cleanup tool module imports"

[2018-06-05 20:01] jccurtis opened #116 "Create flowchart of Spectrum init behavior"

[2018-06-14 18:56] cosama commented on #112
I started to work on this (in particular the right multiplication) and found the following interesting behavior after adding a `__rmul__` method:

`np.array([2,3]) * spectrum` returns a list of two spectra, the first multiplied by two, the second multiplied by 3. The reason for this is that it does use the `__mul__` method of numpy, which does internally call the multiplication method for each ele

[2018-06-18 23:06] cosama commented on #112
There is actually a test for subtraction without live time causing an error.

[2018-06-19 19:49] chunhochow commented on #98
Do we know what options PRESETS could give?

In the example given, I assume livetime=86400, but what's the interpretation for the "0"..?

[2018-06-19 22:08] jccurtis commented on #98
I'm not sure. It isn't listed on page 73 of this [manual](http://www.physics.rutgers.edu/ugrad/389/ORTEC%20File%20Structures.pdf). It is not present in this [random C spectrum converter](http://www.wheldon.talktalk.net/files/spec_conv.c) I just found.

I think we can just add a warning that the PRESETS field is not currently parsed and leave it for now. Thoughts?

[2018-06-19 22:51] cosama commented on #37
Merging pull request #114 closes this issue.

[2018-06-19 22:51] #37 closed

[2018-06-19 23:03] cosama commented on #98
I found this: http://web.mit.edu/8.13/8.13d/manuals/Ortec-MAESTRO-software-manual.pdf. It mentions the presets on page 65. I assume that the 0 is the start channel.

Looking at the picture there of the presets dialog, I don't think any of these information are really important, as long as we get the true live time and run time (or dead time).

You can raise a warning if you like, I would just igno

[2018-06-19 23:37] chunhochow commented on #98
I agree with parsing what we can, and then just throw a warning on the rest. Same for #81 .

[2018-06-29 17:56] cosama opened #117 "EnergyCal should perform fit on initialization or report proper Errors"
If one creates an energy calibration object at this point and does not call the update_fit function one gets an obscure KeyError about coeffs when applying the calibration to a spectrum, that does not help at all to understand what is going on (at least I was very confused).

Either we catch the error and tell the users that they need to call the update_fit function for it to work, or we call the

[2018-06-29 18:17] jccurtis commented on #117
Can you upload some sample code? I agree that this should be in the `from_points` constructor but **not** in the base init because you can make a calibration from coefficients and not the calibration points. What do you think?

Also, this test could be updated: https://github.com/lbl-anp/becquerel/blob/develop/tests/energycal_test.py#L215-L219

[2018-06-29 18:21] cosama commented on #117
The test you found it exactly what I was referring too. I agree it should not be in the init, but the from_points method should call it automatically. That also won't break backwards compatibility (if we even care) as you still can manually call the `update_fit` function later, without affecting the result.

[2018-06-29 18:32] cosama commented on #117
I just realized that from_points does not automatically include (0,0). Is that something we want, otherwise we should add that to the docu string (my preference).

[2018-06-29 18:34] jccurtis commented on #117
Let’s add add a keyword for `zero_crossing` or `include_origin` to `from_points`. I could make a quick PR after lunch.

[2018-06-29 18:35] cosama commented on #117
Already working on it. I can do that.

[2018-06-29 18:35] jccurtis commented on #117
Excellent. Thank you!

[2018-07-03 06:25] markbandstra opened #119 "Upload becquerel to PyPI"
We should get this package on the [Python Package Index](https://pypi.org) so that anyone can `pip install` it. There are steps [here](https://packaging.python.org/tutorials/packaging-projects/) for this process.

It looks like we need to do some work on [`setup.py`](https://github.com/lbl-anp/becquerel/blob/61e6b2d0b3c4eba134425e7c17c3fb51990f06c6/setup.py) before we do this:
  - [x] update versi

[2018-07-03 06:30] jccurtis commented on #119
Thanks for putting this together @markbandstra! I agree that this should go along in v0.2.0 along with the fitting module.

[2018-07-03 16:23] cosama commented on #119
Yeah, great work getting that started. I think it is a good idea to make the software easier accessible, but I think we should try to first get at least rebinning (#78), maybe also autocalib (#118) working. I consider those two to be essential for some basic spectroscopy user cases.

[2018-07-03 18:04] cosama commented on #50
I was looking through some paper about maximum likelihood and Poisson statistics in peak fitting. I just dump this here for now, might be useful at some later point:

- Chi-square vs maximum likelihood compared: https://www.sciencedirect.com/science/article/pii/S0168900200007567
- Maximum likelihood and small signals: https://www.sciencedirect.com/science/article/pii/S0168900299002697
- Very gener

[2018-07-03 19:58] chunhochow commented on #119
If we move to v1.0 we might trigger the IPO process.

[2018-07-03 20:22] cosama commented on #104
Might be related also to #57 and require some moving around of pieces.

[2018-07-03 20:28] markbandstra opened #120 "Version 0.2 Checklist"
From our discussion today regarding goals for the next minor version.

Tentative date for the new version set at 2018-08-28.

# Major issues/PRs
- [ ] #29 / #78 Rebinning
- [ ] #119 PyPI metadata

# Minor issues
- [ ] #117 EnergyCal fix
- [ ] #115 clean up tool imports
- [ ] #113 negative inputs to Spectrum
- [ ] #112 Spectrum operations
- [ ] #107 various changes from quickstart notebook
- [ ] #1

[2018-07-03 20:57] jccurtis commented on #120
Thanks for putting this together @markbandstra! I think it would be good for us to follow the semantic versioning standard: https://semver.org/. We should be releasing patch versions for every minor PR and subversions for the major ones. Thoughts?

[2018-07-03 23:07] markbandstra commented on #120
@jccurtis that makes sense, if you map my "major" to "minor" and my "minor" to "patch". I think that moving to semantic versioning has #119 as a prerequisite since it would require straightening out our metadata, including version numbers.

[2018-07-03 23:17] markbandstra opened #121 "Add CONTRIBUTING.md"
Many repos I have seen have guides for contributions, e.g.:

https://github.com/numpy/numpy/blob/master/CONTRIBUTING.md
https://github.com/numba/numba/blob/master/CONTRIBUTING.md
https://github.com/github/gitignore/blob/master/CONTRIBUTING.md

I think we might want to move the Code Style Guide and Linter sections out of our README and into such a file. It might also be helpful to add a checklist t

[2018-07-06 06:40] #117 closed

[2018-07-10 22:34] cosama commented on #116
Just as a short note to myself (and maybe others). Some of the questions might have been discussed before.

@markbandstra and I just had a quick discussion today and we realized that there are 4 main ways of initiating a spectrum:

1. Counts, no lifetime
2. CPS, no lifetime
3. Counts, with lifetime
4. CPS, with lifetime

And there are two more cases that are a bit weird and probably do not make se

[2018-07-10 22:50] jccurtis opened #122 "Allow Spectrum counts calculation from cps and livetime"
As pointing out by @cosama, we currently cannot calculate `Spectrum.counts` from `Spectrum.cps` and `Spectrum.livetime`. This is not symmetric with the corresponding `Spectrum.cps` calculation. This should be a quick patch with a test to assure functionality.

[2018-07-10 22:52] cosama commented on #112
Spectra addition right now does:

* Add counts and add lifetimes if available
or
* Add cps.

The first one corresponds to a longer measurement, the second one to a measurement with a stronger source. I think it is very confusing to do one or the other.

[2018-07-10 22:56] jccurtis commented on #116
Nice one! We designed the `Spectrum` object to be flexible for items 1-4 depending on the form of the raw data. I think 5 could auto-calculate the livetime and raise an error if the calculation doesn't provide the same livetime per bin. Likewise, 6 requires some checks which could be implemented. I agree with @cosama that 5-6 are weird but we could implement some flexible initialization options th

[2018-07-10 23:00] jccurtis commented on #120
@markbandstra I made a milestone and added all the above issues. I'm closing this checklist.

[2018-07-10 23:00] #120 closed

[2018-07-10 23:10] markbandstra commented on #120
Oh clever, I didn't know you could do that. That is exactly what I was going for here.

[2018-07-10 23:12] jccurtis commented on #121
Additionally we could add linting to the CI build which will reduce manual checking of style enforcement, check [this](https://jeffknupp.com/blog/2016/12/09/how-python-linters-will-save-your-large-python-project/) out.

[2018-07-10 23:13] markbandstra commented on #121
Good point, I would be in favor of that. We should probably modify our pylintrc to remove the most annoying and unnecessary warnings though.

[2018-07-10 23:14] jccurtis commented on #121
Definitely, lets chat about how that will look next Tuesday as well. 😉

[2018-07-11 17:05] cosama commented on #104
It might make sense to also add a flag to the tests to disable all tests that require a working internet connection. Just something to keep in mind.

[2018-07-11 20:32] cosama opened #125 "Add linting to pytests"
As @jccurtis pointed out, we should think about adding linting to the pytests. The issues raised by `pylint` can be questioned for their validity, but there is definitely plenty to improve:

[code]

The top on the list items are easy to fix. Also I think we should be flexible with line length. 80 characters seems kind of short nowadays with these large screens everywhere. I think it is a good leng

[2018-07-11 21:53] jccurtis commented on #125
The line length is a contentious issue like tabs v spaces (obviously spaces 😂). I have not had difficulty across many projects keeping my code to <80 characters. It also allows ease of coding side-by-side.

[2018-07-11 23:14] cosama commented on #125
Just checked, it is in the [google style guide](https://github.com/google/styleguide/blob/gh-pages/pyguide.md), as are 4 spaces of intentions. These guys thought about that stuff way more than we ever will, so lets just stick to what they propose there IMHO.

[2018-07-11 23:36] jccurtis commented on #125
Nice one @cosama! Google is echoing the general PEP8 guidelines. I'm all about it.

[2018-07-12 02:36] jccurtis commented on #50
I've been building the `fitting` module in the `feature-fitting-#50` branch. I have 5 peak models so far based on the ones I have used most commonly. I still have a long list of inline TODO's (mostly short) which I'm churning through as I write an example notebook and tests. Some of these items are topics we should discuss next week:

- [ ] Handle channel / energy fitting (what are the bin edges..

[2018-07-12 02:41] jccurtis commented on #22
This is related to #50 and should build off the underlying tools to determine the peak/feature shape characteristics. There are a couple ways of doing this which could be addressed when we move towards a more comprehensive energy calibration workflow

[2018-07-12 02:44] jccurtis commented on #92
@markbandstra, this should be pretty easy to get into v0.3.0. What do you think?

[2018-07-12 02:50] jccurtis commented on #99
Some partially complete code for a quadratic calibrator I quickly put together:

[code]

[2018-07-12 16:41] jccurtis commented on #125
Thanks @cosama! We should be particularly careful to not create conflicts with the active feature branches that don’t have these changes. That said we should go through the feature branches next week and potentially prune stale ones.

[2018-07-12 17:10] markbandstra commented on #125
Should we add `pylint` to our continuous integration configuration and expect the user to execute it on their own? E.g., the README would say for testing to run:
[code]

[2018-07-12 17:39] cosama commented on #125
I agree this might make merging in the future a bit more tricky, and we should carefully elaborate how to deal with this.

I think users should run `pylint` and `pytest` themselves locally before they submit a pull request and we should have instructions in the CONTRIBUTING.md which commands exactly to run. It should be also mentioned to run `pytest` for both python2 and python3.

Aside of this, I

[2018-07-12 17:48] cosama commented on #125
Is there a reason to choose google over pep8: https://www.python.org/dev/peps/pep-0008/

Pep8 is community supported while the google style guide just a company policy.

There is also a pep8 checker, so that would be easy to use instead of pylint.

[2018-07-12 18:17] jccurtis commented on #125
I just stumbled upon this [open source google tool for formatting python](https://github.com/google/yapf). I just ran this with the default params on the entire repo. This defaults to `pep8` but we could also select `google` formatting style. Check out the just pushed `feature-yapf-formatting` branch. 😄

[2018-07-12 18:20] markbandstra commented on #125
Good find. Any idea if it enforces Google style docstring formatting, which was one of the style points we were most interested in using?

[2018-07-12 18:28] jccurtis commented on #125
I think we can use this for updating the docstrings: https://github.com/dadadel/pyment. It supports google styled docstrings.

[2018-07-12 18:58] cosama commented on #50
I use the [Exponentially Modified Gaussian](https://en.wikipedia.org/wiki/Exponentially_modified_Gaussian_distribution) or also known as the [Hypermet function](https://www.sciencedirect.com/science/article/pii/S0168583X97002292?via%3Dihub) quite often to model left and right tails of peaks.

Furthermore, I would call your `erf` function `erfc` (complementary error function, because of the `1-erf(

[2018-07-12 20:08] jccurtis commented on #50
Nice one, thanks for this. I'll get that added. I'll also change the `erf` naming as well. I'll move this to a PR and we can continue the conversation there 👍

[2018-07-12 20:09] markbandstra commented on #125
Regarding instructions for CONTRIBUTING, what about these tests and checks:
[code]
I added `pycodestyle` because `flake8` seems broken right now... `pycodestyle` is the new name for `pep8`.

[2018-07-12 20:39] cosama commented on #50
I just compared the functions in the different sources. Eq. 5 in the Hypermet paper is identical to (1) in the 'Alternative forms for computation' section in the Wikipedia article. The alternative form is also identical to function in the 'Definition' section of that article with the replace `lambda = 1.0/tau` and an additional parameter for the height (h, the other version is normalized to 1).

P

[2018-07-12 20:48] cosama commented on #125
I think that would work.

I wonder if we should add running `yapf` to the RELEASING.md checklist? Or would it make sense to do so all the time, or never?

[2018-07-12 21:22] markbandstra commented on #125
I think we should suggest `yapf` and `pyment` (once we check them out, and/or some other tools) in CONTRIBUTING as possible ways to bring contributed code into style compliance. We should run them as part of the RELEASING process as well, but just as a check.

[2018-07-12 21:45] jccurtis commented on #125
Another helpful tool to make docstring production easier: https://atom.io/packages/docblock-python

[2018-07-13 00:35] jccurtis commented on #125
I think @markbandstra's tests above and advice in `CONTRIBUTING.md` to make compliant code by using the following:

- Appropriate code fixes for `pytest` failures
- `yapf` for code structure cleanup for `pycodestyle`/`pylint` failures
-  `pyment` and `docblock` in Atom for `pydocstyle` failures

[2018-07-13 06:11] cosama opened #127 "Clear up requirements.txt"
Currently it seems in the the requirements.txt there are a few modules not used anymore:
* beautifulsoup4
* html5lib
* lxml

They should be removed if not needed.

Furthermore, with little efforts we could remove the following modules:
* future (only used once for viewitems which can be used by simply calling dict.item(), not 100% the same but close enough for what we need)
* six (only required fo

[2018-07-13 16:17] jccurtis commented on #127
Wow, nice dive @cosama! Quick thoughts:

- `lxml` is a faster xml/html parser which will be needed for N42 parsing. `beautifulsoup4` can use it to parser html/xml
- `html5lib` - I'm not sure if the `requests` library uses this but @markbandstra will have more input from the web queries side
- `future` - do we not use this for `true_divide` anywhere? We could drop this as well.
- `scipy` - needed f

[2018-07-13 16:18] jccurtis commented on #127
Also I haven't used `future.builtins` that much. When I want to write compatible code I use the (ugly) form `super(classname, self)`

[2018-07-13 16:31] jccurtis opened #128 "Should we update tests to not depend on web queries?"
We have had various intermittent Travis CI builds failures due to web timeout issues (see #82, #91, #95). As I see it, the best solution would be to attempt to run the web-queries and if those fail default to the data cached in the actual repo (#104) or at some public accessible end-point (if the data is too large). This would work for testing and offline usage (assuming the end-point data is down

[2018-07-13 16:32] jccurtis commented on #95
@markbandstra since this hasn't occurred since I'm closing this. Related to #104 and #128

[2018-07-13 16:32] #95 closed

[2018-07-13 16:54] cosama commented on #127
@jccurtis: Thanks for that list, you have some very useful information there. In general I don't mind having external dependencies, but if we don't use them we should remove them, adding them back in is always easy once we need them again.

I am a bit reluctant about the `future` issue as well. It doesn't seem to do much anymore with >=python 2.6, but I'm not sure how this was on older versions. I

[2018-07-13 17:15] markbandstra commented on #127
For completeness, these three libraries are optional dependencies for the `pandas` HTML parsing we use:
* `beautifulsoup4`
* `htmlib5`
* `lxml`

The [`pandas` installation instructions](https://pandas.pydata.org/pandas-docs/stable/install.html#dependencies) explain this:

See also #63, #64, #68, and #72 (specifically commit d8a36dd02) for more details.

[2018-07-13 17:19] markbandstra commented on #127
I for one am a fan of using `future` because it means that the only difference between Python2 and Python3 code is `from builtins import ...`, otherwise the code is pure Python3. (Unless I'm mistaken.)

I also really dislike the ugly `super` notation that Python2 requires, I much prefer `super()`.

[2018-07-13 19:01] cosama commented on #127
I think @markbandstra brought up a good point. In that case we should however try to write as close to python3 code as possible and make full use of `future`. For example it also allows for
[code]

and then in python2 `isinstance(a, str)` is valid code. I think it also has backwards compatible layers for `unicode` and other common python2 vs python3 issues (see http://python-future.org/compatible_

[2018-07-13 19:15] cosama commented on #127
By the way with @marbandstra's nice outline about the use of the html libraries and bf4 I think we can close this issue as no changes to requirements.txt is needed?

[2018-07-13 20:07] jccurtis commented on #127
Do you want to remove six?

[2018-07-17 17:55] markbandstra commented on #99
We could implement a generic `_kev2ch` in `EnergyCalBase` in the following way, and then allow a specific calibration to override it if there is a faster calculation available:

[code]

[2018-07-17 18:05] jccurtis commented on #99
Nice one, I would alter the last line to return the channel at a `float` to maintain the calibration object's level of precision. Even though fractional channels are undefined in hardware, they are used for accurate calibrations after a peak fit.

[2018-07-17 19:31] markbandstra commented on #125
- [ ] Add `yapf` and `pyment` commands to `CONTRIBUTING`
- [ ] Possibly have travis run them
- [ ] Add them to `requirements-dev.txt`

[2018-07-17 19:40] jccurtis commented on #22
Closing for now as superseded by #50 and will be integrated in the ecal tools

[2018-07-17 19:40] #22 closed

[2018-07-17 19:42] chunhochow commented on #40
@markbandstra looked into it and it requires a changed travis yaml file. To be grouped together with linting stuff.

[2018-07-17 19:44] jccurtis commented on #66
@alihanks is this resolved?

[2018-07-17 19:46] markbandstra commented on #77
Superseded by #99

[2018-07-17 19:46] #77 closed

[2018-07-17 20:39] jccurtis commented on #112
- [ ] @cosama will fix multiplication with a small PR
- [ ] @jccurtis will fix add/sub as part of #122

[2018-07-17 20:45] jccurtis commented on #127
@cosama will remove `six`

[2018-07-18 02:05] jccurtis commented on #99
Actually I would go one step further:

[code]

Also regarding `numpy` vs `scipy` for `linear` interpolation. [`numpy` is 5x faster](https://github.com/scipy/scipy/pull/4903#issuecomment-114259888)

[2018-07-19 00:31] jccurtis opened #131 "NNDC query input requirements"
@markbandstra

I just noticed that `bq.tools.nndc.fetch_decay_radiation` requires specific capitalization and formatting. Is this necessary? These names don't agree with the data columns either (`G` vs `Gamma`, `E` vs `Electron`)

[code]

Basically this boils down to:

[code]

and

[code]

What do you think about making these case independent and allowing some more options (aliases)? I can put a P

[2018-07-19 00:42] markbandstra commented on #131
That would be fine with me.

[2018-07-19 01:30] jccurtis commented on #131
Excellent. I'll get on it for `v0.2.0`

[2018-07-19 01:47] markbandstra commented on #131
This could be as easy as expanding the dictionaries in `nndc.py` and always using `key.lower()`, so long as the dictionary values are preserved (they are used for the web query). E.g.,

[code]

[2018-07-19 02:03] markbandstra commented on #115
Can someone remind me what this issue is specifically calling for?

Here is how we currently access the main classes and functions in the tools:
[code]

Should we move all of these classes and functions into the `bq.tools` namespace?

[2018-07-19 02:06] markbandstra commented on #56
Should we delay this issue until we have other calibration models besides linear, and perhaps fold it into #99?

[2018-07-19 02:12] jccurtis commented on #131
Yep that was exactly my plan!

[2018-07-19 02:18] jccurtis commented on #56
I think we should add a quick notebook for the current linear calibration, close this issue and then move on to #99.

[2018-07-19 02:35] jccurtis commented on #115
I am using the import structure:

[code]

Our current structure could get crowded if we bring all the functions/classes to the top level namespace. I like the grouping of these tools into `tools` and the core tools brought up to the main level: `Spectrum`, etc.

[2018-07-19 02:41] markbandstra commented on #115
Right, so instead of
[code]
we want
[code]
That is, remove the third level in the module hierarchy (e.g., `nndc`) so that everything is in `bq.tools`?

[2018-07-19 15:31] cosama opened #133 "Fit weights for energycal models"
Should we allow for weights being provided to calls such as `q.LinearEnergyCal.from_points([230, 400], [1460, 2614])` in order to control the fit. If we have more trust in one peak than another (weights could be based on total counts or FWHM values extracted during a fit) then that might be useful.

It is possible to do that outside of bequerel at this point and then just initialize a calibration

[2018-07-19 18:14] jccurtis commented on #133
We should use the fitting module #50 base models for these fits instead of `np.polyfit`. This will add more consistency in the tools and allow a high degree of constraints to the fit. `np.polyfit` does allow weights but I think the fitting module will be easier to implement with kwargs.

[2018-07-20 18:03] jccurtis commented on #107
I've cherry-pick'd the commits from the now stale branch `quickstart-notebook`. I've created PR's with the relevant links above. I'll leave this open because it will be closed with #137.

[2018-07-31 21:24] jccurtis opened #140 "Spectrum.livetime null value"
Currently a `Spectrum` can have numerical (`float`) livetime or two different `null` values if the the `livetime` was not provided. These cases can be found in `Spectrum.__init__`:

1. `None` if `counts` are provided
2. `np.nan` if `cps` are provided

This makes testing for the `livetime` a bit tricky as noted in #129:

With this in mind, @markbandstra and I agree that if the `livetime` is not pro

[2018-08-06 16:01] jccurtis opened #141 "Change core_test to spectrum_test (like others)"
The `core` module has grown in recent months to include many current features (i.e. `plotting`) and soon to be merged features (i.e. `autocal`, `rebinning`, `fitting`). Each of these modules has its own test suite called `<feature>_test.py`. The legacy exception to this is the `Spectrum` class which is tested in the `core_test.py` suite. To reduce confusion, I move that we change the name to `spec

[2018-08-14 20:10] markbandstra commented on #122
@jccurtis Implement this with a warning.

[2018-08-14 20:10] #56 closed

[2018-08-14 20:12] #127 closed

[2018-08-20 17:28] #115 closed

[2018-08-21 16:59] thjoshi commented on #29
@chunhochow @jccurtis when is rebinning coming to Spectrum?  I was trying to use Becquerel last week for a project and was quite surprised to find that any form of rebinning wasn't in the primary branch.  If additional features come later that makes sense, but in my view there should be a basic functionality already.

[2018-08-21 17:01] thjoshi commented on #50
@jccurtis are the tools in the feature-fitting-#50 branch functional enough for use in an analysis project?

[2018-08-21 17:58] jccurtis commented on #50
I think so, with the caveat that the input the fitters is currently designed for spectrum bin values normalized to the bin width (i.e. `counts/keV` or `cps/keV`). This means that the guesses for initial values and calculation of peak area will be incorrect based on the Gaussian formula used. I plan to make the code more flexible but haven't gotten around to it. If you have ideas or run into issues

[2018-08-28 19:33] #100 closed

[2018-08-29 00:15] #131 closed

[2018-08-29 18:28] cosama commented on #140
I gave this matter some thought. I think the reason why there are two different livetimes for counts and cps is that it allows for testing of which fields actually has been set and are available. For example the following code would work:
[code]
If we set livetime always to `None` in the future we would have to do:
cps is that it allows for testing of which fields actually has been set and are ava

[2018-08-30 18:32] cosama commented on #140
Actually there is a way to still check how a `Spectrum` was initiated, though the `_counts` and `_cps` members. I think that is sufficient for the rare edge cases were this really is required. I implemented the new behavior in #144

[2018-08-31 18:27] cosama opened #145 "Spectrum is only tested with numpy arrays"
All the tests in spectrum only test for `numpy` arrays, but there should be also tests for list type input.

I don't know how enough about `pytest` to add that, but it could be relatively simple, but could also be quite a lot of work.

[2018-09-11 19:33] markbandstra commented on #81
@jccurtis and I discussed having the parsers raise warnings for this case and analogous cases.

[2018-09-11 19:37] jccurtis commented on #81
@markbandstra look at `example-spectra-#20`

[2018-09-11 20:01] #112 closed

[2018-09-11 20:01] #113 closed

[2018-09-11 20:01] #122 closed

[2018-09-11 20:01] #140 closed

[2018-09-11 20:08] #119 closed

[2018-09-11 20:10] jccurtis commented on #119
FYI you can install with:

[code]

[2018-10-10 19:37] jccurtis opened #147 "Allow spectrum.rebin with `force` keyword if the `counts` are not defined"

[2018-10-10 19:39] jccurtis opened #148 "Add underflow/overflow include flag"

[2018-10-11 00:52] #98 closed

[2018-10-11 02:27] jccurtis opened #150 "Importlib __spec__/__package__ issue"
In `py36` we get the following warning:

[code]

I'm not sure where this is coming from. Maybe this could help?

https://github.com/pytest-dev/pytest/pull/3613

[2018-10-11 03:44] markbandstra commented on #150
Sounds like it might be a problem in a dependency. Does it give you any more of the traceback? Was this happening on your local machine or on travis?

[2018-10-24 19:36] jccurtis commented on #148
NOTE: this is for the next `rebin` release

[2018-11-07 20:34] #101 closed

[2018-11-19 20:09] Callek commented on #150
I'm hitting this in @mozilla-releng/addonscript with pytest 4.0 on travis (locally reproduced back to pytest 3.7.3) --

Travis Log: https://travis-ci.org/mozilla-releng/addonscript/builds/457101239

Local pytest extensions
* pytest-asyncio
* pytest-cov
* pytest-mock

I'm also getting no traceback at all..

[code]

[2018-11-19 20:10] Callek commented on #150
I should note that I've been running pytest with `py.test -Wd ...` and I haven't seen it before now.

[2018-11-19 20:11] Callek commented on #150
err totally filed in wrong repo, apologies

[2018-11-26 22:05] #29 closed

[2018-11-27 00:48] #141 closed

[2018-11-27 21:50] jccurtis commented on #81
#135 is closed. @markbandstra maybe lets just add these as a dictionary of `metadata`?

[2018-11-27 22:22] cosama commented on #81
@jccurtis. Great idea. I really started to appreciate the flexibility of dictionaries in that regards.

[2018-11-28 20:41] markbandstra opened #156 "SPC file parser does not work for converted files"
Parsing the SPC files converted by @jccurtis in 3673109d leads to an error:

[code]

Looks like I have some magic numbers in there that might not be the most general for this format.

[2018-11-28 20:42] #81 closed

[2018-11-28 22:58] markbandstra opened #157 "Remove SPE PRESETS warning"
The following code:
[code]

Produces the warning
[code]

This was introduced by #98 and its PR #135, however #81 and its PR #155 provide a more elegant approach: read these fields into the `metadata` dict.

[2018-11-30 21:10] #157 closed

[2018-12-13 18:57] jccurtis opened #159 "Parser warning for calibration"
This `warning`:

[code]

should be a `ParserWarning`

[2018-12-13 20:01] cosama commented on #159
Good catch. Looking at the code I actually think the message is confusing. In the end it means that the created spectrum won't have the `bin_edges_kev` attribute populated, however I would not get that from the message, I would not even expect the entire calibration being an issue, maybe just a bin or something. Also the code is not that clear, the`if` statement in `spectrum.py` on line `454` actu

[2018-12-13 20:22] cosama commented on #159
Is there a reason for the `energy_bin_widths` attribute in `class SpectrumFile`. I don't find it anywhere being used and it is kind of redundant information.

[2018-12-13 21:07] jccurtis commented on #159
Re: `energy_bin_widths` I think this was added as a convenience attr
Re: parsing, you are absolutely right and we need to rewrite the parsers as in #103

[2018-12-13 22:14] #94 closed

[2018-12-13 22:14] #107 closed

[2018-12-13 22:33] jccurtis opened #162 "Unclosed socket warning from requests"
I see the following warning a bunch of times when running the tests:

[code]

@markbandstra noted that this is linked to something in the `requests` library.

[2018-12-14 00:18] markbandstra opened #164 "Updates to RELEASING checklist"
Lessons learned from our first run-through today when releasing 0.2.0:

### Previous
* After PR is accepted, create tagged version (`X.X.X`) on GitHub

### Change to
* Approve PR and merge it into `master`, but do not delete it yet
* Create tagged version (`X.X.X`) on GitHub

### Previous
* Upload new version to PyPI
  * `python3 -m pip install --user --upgrade setuptools wheel`

### Change to
* U

[2018-12-14 08:04] cosama opened #165 "pip install fails on python 2"
If I try to install `becquerel` with python2.7 it fails with
[code]
It works with python3.6. In the archive that is linked the CONTRIBUTING.md file is indeed missing.

[2018-12-14 09:31] cosama commented on #165
I guess we need to add a `MANIFEST.in` file to add `CONTRIBUTING.md`, `RELEASING.md`, `LICENCE.txt`, `requirements.txt` and `requirements-dev.txt` (might not be absolutely necessary) as those files are used in the `setup.py` file.

Also I saw that the License is marked as `UNKNOWN` in the `PKG-INFO` file in that archive. Something we should fix too.

[2018-12-14 10:11] cosama commented on #165
Adding `license=LICENSE,` to the `setup()` call in `setup.py` seems to fix the license tag issue in `PKG-INFO`.

I think we have to fix these two things and go for a batch. Do we have a procedure for that? Where do we branch off, `develop` or `master`?

[2018-12-14 19:04] markbandstra commented on #165
I think we should separate the license issue from the installation issue.

Regarding the license itself, I removed `license=LICENSE` from the `setup()` call in d8e36ee9cb because when testing with TestPyPI I found that the long text of our license was not compatible with the PyPI package page formatting. Basically it is expecting a short, single-line string like `"OSI Approved (BSD)"`, etc.

[2018-12-14 19:11] markbandstra opened #166 "License in PKG-INFO is UNKNOWN"
As noted in #165, the license in `PKG-INFO` is `UNKNOWN`. Is this the most correct way to handle our license, or is there a better way?

Including the full text of `LICENSE.txt` in the `setup()` call in `setup.py` is not an option because it wrecks the entire PyPI package page as noted in d8e36ee9cb.

[2019-01-02 19:38] jccurtis opened #167 "XCOM format change"
Something (probably small) has changed in the XCOM return format. Travis fails on `py27` and `py36`. I have local failures in `py37`.

See [this build](https://travis-ci.org/lbl-anp/becquerel/builds/474229506) for more details and error tracebacks.

[2019-01-02 19:44] jccurtis commented on #167
Wait, this is due to the federal government shutdown ...

This brings up the recurring idea to cache all the XCOM data locally as captured in #104. I'm closing this for now ...

[2019-01-02 19:44] #167 closed

[2019-01-02 20:01] markbandstra commented on #167
Can we change the title of this issue for future clarity? Like, XCOM/NIST data tends to fail if the federal government shuts down? (NNDC is probably fine right now since it's DOE.)

[2019-01-02 20:06] jccurtis commented on #167
Good idea, done!

[2019-01-03 19:50] jccurtis commented on #165
Thanks @cosama and @markbandstra!

Lets make a quick patch (`0.2.1`) with the following:

- Add the `--universal` option to the `sdist` build as [here](https://stackoverflow.com/questions/30438216/how-do-i-upload-a-universal-python-wheel-for-python-2-and-3)
- Add a `MANIFEST`. See the [docs](https://docs.python.org/2/distutils/sourcedist.html#manifest-template)
- Include a fix for #166

[2019-01-03 20:19] jccurtis commented on #165
@markbandstra I'm taking a stab at this now ...

[2019-01-04 18:20] markbandstra commented on #164
Closed by #168

[2019-01-04 18:20] #164 closed

[2019-01-04 18:20] markbandstra commented on #165
Closed by #168

[2019-01-04 18:20] #165 closed

[2019-01-04 18:20] markbandstra commented on #166
Closed by #168

[2019-01-04 18:20] #166 closed

[2019-01-09 20:34] jccurtis commented on #87
Leaving in `v0.3.0` for now. Will revisit. Thoughts @alihanks ?

[2019-01-09 20:51] jccurtis commented on #133
Waiting until fitting module (#50) is more complete to implement

[2019-01-09 20:53] jccurtis commented on #99
Waiting on #50 ...

[2019-01-09 20:55] jccurtis commented on #66
@alihanks is this ready for primetime?

[2019-01-09 20:58] jccurtis commented on #128
Particularly important during a federal govt shutdown ...

Moving to `v0.4.0`

Depends on #104

Related to #167

[2019-01-09 20:59] jccurtis commented on #52
Lets get this merged ... @markbandstra make a PR!

[2019-01-09 21:14] jccurtis commented on #162
Maybe try to use a `Session` context to explicitly close the socket after the request is made.

[2019-01-25 17:00] alihanks commented on #66
Yeah, this is ready.

[2019-01-28 20:14] markbandstra opened #171 "NIST material data errors"
It looks like NIST websites are back up after the government shutdown, so #167 is no longer a problem. However, two new errors have cropped up:

[code]

[2019-01-29 00:23] #171 closed, assigned to nobody

[2019-02-06 20:51] jccurtis opened #174 "NIST element data parsing errors with different Pandas versions"
Related to #172

I have pandas `0.23.4` and get an error when running:

[code]

Error:

[code]

[2019-02-06 20:52] #159 closed

[2019-02-06 22:38] markbandstra commented on #174
For the record, I do not see this problem with these software versions:

[code]

[2019-02-12 18:34] cosama opened #176 "XCOM doesn't understand scientific notation"
If one provides mixtures with scientific notation for the fractional content, xcom seems to not be processing it correctly and becquerel throws an error:

[code]
I don't think it is worth fixing this, or even our job, but I put this here for further reference

[2019-02-12 18:38] cosama commented on #176
Just thought about this, and I honestly think it would be better to provide a dictionary with `"element": fraction` pairs instead of a table and then parse it internally into strings. Could we add that as an alternative for lists, and then maybe deprecated lists in the future?

[2019-02-12 19:35] markbandstra commented on #176
That mixture fails to work when entered into the [mixtures web query](https://physics.nist.gov/cgi-bin/Xcom/xcom2), resulting in a returned page that says `Invalid Formulae`. Not parsing scientific notation correctly is an XCOM issue that becquerel does not catch. Right now becquerel only checks that each string in the list contains two items separated by a space, and that the second item parses t

[2019-02-15 22:22] #174 closed

[2019-07-18 14:28] jasonmhite opened #179 "Support for writing spectra to files"
I'm interested in adding support for writing spectrum files to disk, but I need to answer some design questions first as the current implementation needs some possibly significant refactoring to support writing files in a clean way.

The implementation I would imagine is something along the lines of
[code]
where `write_from_spec` is a class method of each format class that gets all the required in

[2019-07-18 23:30] jccurtis opened #180 "Store energy calibration in Spectrum object"
As mentioned in #179 we needed to resolve this oversight in the calibration routine.

[2019-07-18 23:41] jccurtis commented on #179
Hi @jasonmhite, Thanks for the feedback! You are absolutely correct in saying that the file IO code need refactoring as this was added early on (before the `Spectrum` class, etc.) @markbandstra is most familiar with this code so he is probably the best resource for how we could refactor this code but for the time being:

1. Good catch on the missing calibration storage in the spectrum object. This

[2019-07-19 21:08] jasonmhite commented on #179
Sounds good. So for the moment, I will tidy up the code I wrote and prepare a pull request to add it to the `SpeFile` implementation. After that, I will look into #180 as a first step towards a more polished implementation.

[2019-07-25 17:26] jasonmhite commented on #179
As part of this, I discovered that the existing code does not handle the ROI block correctly. Should I fix this as part of my pull request or break it out into a separate issue?

[2019-07-25 17:33] markbandstra commented on #179
Hi @jasonmhite , thanks for finding that. Could you file a separate issue describing the bug so we have it clearly documented? You can fix that issue as part of your PR. Thanks!

[2019-07-29 13:04] jasonmhite opened #181 "Improve support for ROI block in SPE files"
SPE files support a block called `$ROI`, which is meant for listing regions of interest within the spectrum. The current implementation in becquerel doesn't actually parse this block, it just stores the raw lines as strings. I'd like to extend support to properly parse this block into a list of tuples, where each tuple is a pair containing the beginning and end channel for each ROI.

I don't think

[2019-08-21 19:21] #106 closed

[2019-08-21 19:44] jccurtis commented on #50
@cosama and I will hack this out next week!

[2019-08-21 19:49] markbandstra opened #182 "End support for Python 2.7 by end of 2020"
This decision will align becquerel with a large portion of the open source community:
https://python3statement.org

Python 2.7 EOL notice:
https://www.python.org/dev/peps/pep-0373/#update

Tasks that we will need to do:
- [ ] Drop 2.7 from `travis.yml`
- [ ] Update classifiers in `setup.py`
- [ ] Remove `from __future__ import print_function` from code
- [ ] Add minimum python version to `requirem

[2019-09-26 17:24] jvavrek opened #183 "Spectrum should take list-mode data"
It'd be nice to create a Spectrum object from list-mode data such as an `np.array()` or from a (possibly time-stamped) plaintext file of ADC values. (See also #116.) This mostly just saves the user the step of calling
`bin_contents, bin_edges = np.histogram(data, nbins, erange)`
before
`bq.Spectrum(counts=bin_contents)`
but it should be integrated into Becquerel.

[2019-09-29 18:35] jvavrek opened #184 "energy calibrations should use channel space, not bin space"
`becquerel`  classes should work with an x-axis of channels, not bins. For example, say I have an ADC that produces a spectrum of 32768 discrete channels, but I need to rebin the spectrum by a factor of 4 to 8192 channels to trade off resolution for statistics. `becquerel` would give energy calibration gains differing by a factor of 4 for the original and rebinned spectra, because it works in the

[2019-09-29 18:48] jvavrek commented on #92
This would be especially useful if (maybe through a boolean flag) it included prominent gammas from decay series isotopes, e.g. the 1001 keV line from Pa-234m daughters of U-238 or the 2614 keV line from Tl-208 from Th-228. This would allow the user to better correlate observed gamma energies to isotopes present without having to worry about the details of the decay series. See, e.g., example 10 i

[2019-09-29 19:17] jvavrek commented on #184
Another thought: there's no reason to restrict this generalization to an integer number of ADC channels. Imagine an analogue DAQ that returned, say, a `float` of the area under the current pulse. The user would definitely need to bin this manually, and the calibration (in keV / (mA us) or something) should properly account for the bin width.

[2019-10-02 19:15] jccurtis commented on #184
@jvavrek all good points! These are the exact feature improvements we are looking for. My thoughts:

* A distinction between ADC channels corresponding to integrated current / resulting voltage vs spectrum histogram bins needs to be established. You have outlined this very nicely.
* I'm not sure `channel` is necessarily clear here though as this is often used interchangeably with `bin`. Please let

[2019-10-02 19:33] jccurtis commented on #183
Quick solution (untested):

[code]

This needs to support:
* passing energies directly
* better timestamp handling ... this won't work for time since acquisition start ...
* better livetime/realtime handling

Thoughts?

[2019-10-02 19:36] jccurtis commented on #183
Also, this is strongly linked with #184 as mentioned by @jvavrek since we should be able to pass a separate `bin_edges_adc` for un-calibrated data which doesn't yet have `bin_edges_keV`

[2019-10-02 22:01] jvavrek commented on #183
- My ROOT is showing, but I think a `from_listmode()` histogramming method should take also take an xmin and an xmax. These can default to 0 and the max channel as above if not specified.
- I would rename `adc_channels` in the above snippet. It's not immediately clear that it's the list mode data.
- I'm also unsure on the timestamp handling, as the start/end acquisition times are generally not the

[2019-10-02 22:14] jvavrek commented on #184
- `adc_value` is much better than `channel`, agreed
- using the `spectrum` object is also better, agreed. I initially avoided this route pre-calibration because of the `self.is_calibrated()` check in `bin_widths()`, but didn't see that it's just a check if `self.bin_edges_kev` exists

[2019-10-03 00:56] jccurtis commented on #183
1. That is implicitly supported with the `bins` kwarg to nump histogram which is the `bin_edges` if an array or the number of bins if a scalar (with the default min/max assigned based on the data). Maybe `bin_edges` is a better naming for `bins` and don't allow passing a scalar?
2. ✅
3. 🤷‍♂
4. Worth a conversation, I think just `bin_edges` would lead to confusion. Additionally, do you just lose th

[2019-10-03 01:09] jccurtis commented on #184
1. ✅
2. Yeah all of the `calibration` of a `Spectrum` requires some cleaning because you may have the following `init` cases:
    * Spectrum
        * Only count information (which can default to `adc_values` of the bin they are in).
        * Count and `bin_edges_adc`
            * also with calibration function / params
        * Count and `bin_edges_keV`
            * There is not explicit cali

[2019-10-04 00:08] cosama opened #185 "Issue connecting to `physics.nist.gov`"
I have some issues connecting to `physics.nist.gov` recently. It could be related to my dns setup (I use `opendns` if I remember correctly), but it could also be related to changes on nist. I can access the database on `pmlb.nist.gov`. If somebody else has issues:

[code]
in the becquerel source directory fixed it for me.

[2019-10-04 00:13] jccurtis commented on #185
Both route to `https://www.nist.gov/pml` for me. I cannot `ping` either of them though ...

I actually can't ping `nist.gov` but I did learn that NIST runs on AWS:

[code]

[2019-10-04 00:15] cosama commented on #185
Now `physics.nist.gov` is working again. Maybe a dns cache issue.

[2019-10-04 00:15] jccurtis commented on #185
Ready to close?

[2019-10-04 01:09] jvavrek commented on #183
1. Passing a scalar is very useful, especially if `np.histogram` handles scalars and arrays automatically. See branch `issue-list-mode` for how I currently do it based on the above code.
4. Keeping both `bin_edges_kev` and `bin_edges_adc` is better, now that I think about it. Adding the latter to the codebase will probably require a fair bit of work, so I'll leave it to someone more familiar with

[2019-10-04 05:20] cosama commented on #185
Has happened a couple of time. Lets keep it open for a bit and see if someone else runs into this.

[2019-11-08 23:03] jvavrek commented on #50
I also have some peak fitting routines and parameter initialization heuristics I'd be happy to share. They were designed for NRF spectra in HPGe, so focus on multiplets of Gaussians on top of slowly-varying backgrounds. They're also mostly still written in ROOT C++, but I've been translating some to Python for newer work. Let me know if you'd like to discuss!

[2019-11-12 19:01] jvavrek opened #189 "AutoCalibrator always returns a zero offset"
As far as I can tell, there's no way to generate a `LinearEnergyCal` object via `AutoCalibrator` without getting a calibration that has a zero offset. I don't know if there's a nice way to incorporate a non-zero offset into the minimization of `fit_gain()` but a useful workaround is to use `AutoCalibrator` to find the best channel/energy pairs and then pass them to a full linear fit:

    if np.is

[2019-11-12 19:42] jccurtis commented on #189
Hey @jvavrek , thanks for this! I agree that the functionality of the autocalibrator should be expanded, especially for non-linear calibrations (i.e. NaI + PMT). @markbandstra how difficult is it to adjust multiple params in the brute force calibration search? Could we use arbitrary functions? We need to have a more general conversation about the `ecal` workflow since a full calibration should inc

[2019-11-12 19:51] jccurtis commented on #189
Also general note:

You don't need to initialize  `bq.LinearEnergyCal` since `from_coeffs` is a class method which acts as an alternate constructor:

[code]

In `python3` the preferred string formatting is the newer `.format(...)` style. This method was introduced in `python2.7` and is much more powerful and efficient than the older C-style `%` format. While it is not deprecated, `bq` follows the

[2019-11-13 21:04] jccurtis commented on #184
From today's meeting:

* Implement `bin_edges_raw`
* Resolve property `channels` to ... ???
* Update channels in docstrings
* Add `bin_centers_kev` (check for this in the plotting utils)
* Resolve the `FIXME`'s

[code]

Make it so @jvavrek !

[2019-11-14 19:10] jvavrek commented on #184
Note: deleted branch `issue-channel-vs-bin` as it is easier to combine this issue with #187 on a single branch.

[2019-11-15 17:53] jccurtis commented on #185
Have you encountered this again?

[2019-11-16 05:37] cosama commented on #185
No but haven't used it a lot. I will close this for now.

[2019-11-16 05:37] #185 closed

[2019-12-02 16:10] jccurtis commented on #162
I’ve been hacking at this and unable to get requests to properly close the socket. Either that or this is something with pytest.

I’ve tried:

* using a Session
* using a context block
* explicitly closing the session
* including a close connection cmd in the header args

I’ve done everything except rewriting the POST cmd and deleting the session manually after use. This should be needed as the co

[2019-12-11 20:38] jccurtis opened #191 "Pytest Notebooks"
To assure the notebooks still run and are unchanged:

https://pypi.org/project/pytest-notebook/

[2019-12-12 01:38] jccurtis commented on #162
I've tried the various combinations of approaches to close the socket after the `_request` method and none prevented the warning:

[code]

Using this modification:

[code]

This results in:

[code]

Interestingly this means that the warning is emitted in the `post` call itself (i.e. before the `resp` is even returned.) Thus, I don't think we can prevent this without hacking requests itself. This h

[2019-12-13 21:56] #183 closed

[2019-12-13 21:56] #184 closed

[2019-12-13 23:05] #162 closed

[2020-01-18 01:25] jccurtis commented on #182
Should we wait until fitting (#50) is in before dumping `py2`?

[2020-02-10 19:42] jvavrek opened #198 "Spectrum `find_bin_index` should be able to accept multiple x-values"
Spectrum `find_bin_index` should be able to accept multiple x-values and return their bin indices. This should be pretty simple to implement.

[2020-02-12 20:23] markbandstra commented on #191
Also wanted: clean up any user-specific paths that the in the notebook source after they are run.

Can use `bq.__file__` to find the relevant path.

[2020-02-12 20:24] jccurtis commented on #191
See: https://ogden.eu/run-notebooks

[2020-02-12 20:25] jvavrek opened #200 "Split up test_listmode"
Split `test_listmode` in `spectrum_test.py` into separate functions focusing on listmode vs `find_bin_index`. Can use fixtures for this. Also add tests with `use_kev=True`.

[2020-02-12 20:30] #198 closed

[2020-02-12 20:45] markbandstra commented on #189
The autocalibrator was designed to be pretty simple, with only a single gain parameter. I agree that it should be expanded to include an offset at least. This effort will require reworking the math used (which is basically a chi-squared minimization with a brute force search over calibration line attributions) but it might not be that bad. The caveat is that the more parameters are included, the w

[2020-03-02 00:20] jvavrek opened #202 "QoL functionality in Spectrum"
The `Spectrum` class should have two quality-of-life improvements:

1. A convenience function to prevent a lot of repetition:
`edges, widths, centers = spec.get_bin_info()`
2. A default of `use_kev=None` for any call to this new `get_bin_info()` or the existing `find_bin_index()`, in which case it searches the `bin_edges_kev` if the spectrum is calibrated and `bin_edges_raw` if not.

[2020-03-05 01:23] #202 closed

[2020-03-13 22:14] jvavrek commented on #200
This was closed via #201

[2020-03-13 22:14] #200 closed

[2020-09-24 17:59] chunhochow opened #209 "rebin logic: the first/last out_edge needed?"
@jccurtis :

Do you remember the logic for the rebinning? I'm trying to update it to use numba.guvectorize rather than numba.jit (because the jit isn't "vectorized enough" for xarray to interpret it as a vectorized function.

The issue with numba.guvectorize is that it requires the shape for the inputs and outputs, and so out_edges = (m), and out_spectrum = (m-1) (except that you can't specify the

[2020-09-24 18:53] cosama commented on #209
Yeah, overflows right now seem to end up in the first and last bin. I have been dealing with this with:

[code]

[2020-09-24 21:23] chunhochow commented on #209
Gotcha, yes, having some option of that sort would make sense @cosama , for the future.

OK, so the first and last bin edges really seem useless then. I'll try to remove the use of the last bin edge in the code, which would allow me to vectorize it (because input dim = len(out_edges) needs to be equal to output dim = len(out_spectrum). And then we can think about adding that option.

I'm overhauli

[2020-09-24 21:37] cosama commented on #209
I am a bit surprised why you compare edges to spectrum, we have for quantities:

 1) `input_spectrum` dimension `(N,)`
 2) `input_edges` dimension `(N + 1,)`
 3) `output_spectrum` dimension `(M, )`
 4) `output_edges` dimension `(M + 1`,)`

All of these dimensions are known when calling `bq.rebin`. 1., 2. and 4. are parameters for `bq.rebin`, 3. can be calculated from 4. If necessary we could add a

[2020-09-24 21:38] jvavrek commented on #209
Do we ever reach huge arrays in `becquerel`? Even a 32k bin array is pretty trivial for `numpy`

[2020-09-24 21:42] cosama commented on #209
I agree with @jvavrek  also, not sure when we have spectra that would not fit in memory. This is very different when considering multi-dimensional histograms. There is support for arrays of spectra at this point, I assume that is what @chunhochow is working on here.

[2020-09-24 21:43] chunhochow commented on #209
@cosama exactly, the M+1 -> M is a problem because numba's guvectorize requires the output dimensions to be derivable from the input dimensions, and they don't seem to allow "M' - 1" as the dim. It HAS to be the dimensions (directly) defined in the inputs. Putting in an output as a input seems like it might also be investigatable, but numba doesn't seem to like side-effects (changing inputs); it h

[2020-09-24 21:46] chunhochow commented on #209
Right now how @markbandstra and @dhellfeld are dealing with it is to read data in in chunks, then rebinning each chunk before moving onto the next one. But if we can just (gu)vectorize the single spectrum/1D functions, then you can just directly run that over the entire 15GB, and let dask/xarray handle it for you natively. (instead of writing a ton of code just to handle reading things and process

[2020-09-24 21:56] jvavrek commented on #209
Ah yeah, 2D histograms will get you there. Are multi-dimensional histograms planned for `becquerel`?

[2020-09-24 22:00] chunhochow commented on #209
haha i don't know about that. @cosama what do you mean about multi-dim (like what are the dims?) If yes then yes we should definitely integrate xarray in, which makes my life slightly easier (because I don't have to consider if I want to bring xarray in as a separate dependency)

[2020-09-24 22:51] cosama commented on #209
No multi-dimensional support yet, as I said only thing we have is an array of spectra.

[2020-09-24 22:53] jccurtis commented on #209
@jvavrek multi dimensional histograms are dealt with our internal tool `curie`. We don't have rebinning implemented yet. `bq` does currently allow rebining over 2D arrays (n spectra by energy). It just iterates in `numba` and calls the 1D rebin function.

@chunhochow this sounds like a cool application but I have to ask: since the rebin operations all independent would a map/apply with lots of cor

[2020-09-25 01:47] chunhochow commented on #209
@jccurtis exactly! but maps require vectorized operations to be quick, and the way to do it easily is using `numba.guvectorize`. (actually `nb.jit`, as we had implemented, is mostly there, but it's not "as" recognised as a vectorized function, and unfortunately it doesn't work with `xarray`

So what I'm doing is trying to guvectorize the 1D operations. The 2D operations then would be even cleaner

[2020-09-25 01:51] chunhochow commented on #209
Wait, are y'all trying to partially-reimplement functions that you can find in `xarray` in `curie`.

[2020-10-27 16:02] wjvanderlip opened #212 "pip install failure on Windows 10"
pip install fails when trying to update llvmlite from 0.29.0 to 0.35.0

Windows 10 Enterprise
Anaconda 3 distribution

when i run conda upate llvmlite it says llvmlite is constricted by anaconda requiring llvmlite==0.29.0

<img width="750" alt="pip install failure" src="https://user-images.githubusercontent.com/32883408/97327763-abde0480-184b-11eb-9632-d9db4aea0f13.PNG">

[2020-10-27 16:11] jccurtis commented on #212
Hey, good to hear from you! This is due to a version pinning in becquerel and pip doesn’t know how to uninstall the conda version you installed (when you installed numba). A quick work around is to upgrade numba (and llvmlite) with conda to this version so pip will skip over it.

@markbandstra @jvavrek @cosama its time to drop python2. I haven’t been able to use bq for a while due to similar issue

[2020-10-27 16:22] jccurtis commented on #212
Additional thoughts:

* `conda install llvmlite==0.29.0` fails on python `>3.8.a0` (current default anaconda3 python is `3.8.5`) so I assume you are running `3.7.*`

I'm able to reproduce this with:

[code]

the workaround is

[code]

[code]

[2020-10-27 16:51] wjvanderlip commented on #212
Thanks for the quick response, I will check the fix later today! I am running a gamma spec lab in my course and wanted to show the cadets the greatness of becquerel; their heads almost exploded when I showed them they can directly load an otrec output file vs copy and pasting with excel. Hope you guys are doing well out there.

-Joe

[2020-10-27 17:12] jccurtis commented on #212
Happy to help! A helpful solution for the course might be to use a conda environment file which details a complete development environment (including `jupyter`) like:

[code]

[2020-10-27 17:18] jccurtis commented on #212
@wjvanderlip I'm going to close this for now. Let us know if you have further issues.

[2020-12-16 20:50] jccurtis opened #216 "Github actions"
Travis is dropping unlimited support for OSS so lets move to github actions

- [ ] Add github actions workflow

Future work:

- [ ] Add `black` formatting
- [ ] Add CD to pypi

[2020-12-22 21:28] jvavrek opened #217 "Conflict between using `tex` in `matplotlib` and using the `fit.custom_plot()` method"
I've found some sort of conflict between using `tex` in `matplotlib` and using the `fit.custom_plot()` method. I believe adding this line to a jupyter notebook with matplotlib in notebook/inline mode is enough to cause the error:

[code]

The full error message is pretty unwieldy and doesn't quote any user code, sadly, but the root cause seems to be:

[code]

in the plot legend. If I comment out o

[2020-12-22 21:30] jvavrek commented on #217
Might be possible to address this by replacing problematic characters such as `#`, `%`, and `_` with dashes, spaces, or a string "percent" depending on context.

[2020-12-23 21:46] jvavrek opened #218 "Automatic x- and y-axis labels in fitting modules"
I typically default to 'counts per bin' and update it later with something like
[code]
I guess here we can get the units from `Spectrum`, too. A new issue for this makes sense to me.

_Originally posted by @jvavrek in https://github.com/lbl-anp/becquerel/pull/146#discussion_r548264499_

[2020-12-23 21:49] jvavrek opened #219 "Improve initial guesses in fitting module?"
@jccurtis those are with the old guess function. We can look into improving guesses in the future.

_Originally posted by @jvavrek in https://github.com/lbl-anp/becquerel/issues/146#issuecomment-750483392_

For instance, using the max bin can give a closer height estimate than the sum of all the counts in the ROI. See my comment in the aforementioned PR: https://github.com/lbl-anp/becquerel/pull/1

[2021-01-05 00:06] cosama opened #222 "IsotopeQuantity test fails with datetime assert"
All recent test have been failing. The error message is:

[code]

Anybody has an idea what goes on here. It looks like the python2 test still work, so maybe a version issue with one of the libraries?

[2021-01-05 01:02] markbandstra commented on #222
Weird, it looks like the 2.7 and 3.6 tests are passing but the 3.7 and 3.8 tests are failing. The full failure message for the most recent test of `main` is:

[code]

Which is a failure in [`test_isotopequantity_time_when`](https://github.com/lbl-anp/becquerel/blob/main/tests/isotope_qty_test.py#L194-L201). I am able to replicate this locally with 3.8. I'll look into it, although it's weird that t

[2021-01-05 01:27] markbandstra commented on #222
Very strange error. Of these isotopes that the test is run against:
[code]

and these kwargs: `('atoms', 'g', 'bq', 'uci')`, only that single test (`K-40` with `uci`) is failing. No idea yet but I suspect a subtle floating point issue.

[2021-01-05 02:15] markbandstra commented on #222
I printed out some debugging information and was able to confirm a weird floating point issue.

Here is what I printed out for the code as-is:

[code]

(The error occurs because that last line for `dt` is not `0.0`.)

Then I increased the activity in uCi by a factor of 10 from `10.047` to `100.47` in the [test fixture](https://github.com/lbl-anp/becquerel/blob/main/tests/isotope_qty_test.py#L167)

[2021-01-05 02:23] cosama commented on #222
We just need to use `np.close` in the tests. There is nothing else really we can do about that. Weird though it didn't show up earlier.

[2021-01-05 03:37] cosama commented on #222
It is an issue with a package, not sure which one though. I run all test, they passed, then I updated all the required packages and it failed.

[2021-01-05 04:09] markbandstra commented on #222
Seems like if we use `numpy.isclose` we will need to extract the seconds and set a tolerance. Here is an actual minimum working example:

[code]

[code]

[2021-01-05 04:29] cosama commented on #222
@markbandstra I am looking into this right now as well. Quite confusing to be honest, still a bit puzzled where it arises. I think it is from

[code]

results in:

[code]

but not sure why this didn't show up earlier.

[2021-01-05 06:07] cosama commented on #222
One way to fix this would be to calculate all the possible quantities during initialization and enforce the quantity used for initialization to be unchanged. The `__init__` would have to look something like this (not tested and not sure if there is a more elegant way):

[code]

Then we use `self._vstart[quantity]`, everywhere.

[2021-01-05 15:50] cosama commented on #222
Alternatively we could also define the relative tolerance with respect to the half-live or the inverse of the decay constant:

[code]

[2021-01-05 19:01] jccurtis commented on #222
Regarding permutations above, some DRY could be done with just rolling the list: https://stackoverflow.com/questions/2150108/efficient-way-to-rotate-a-list-in-python

[2021-01-05 21:19] cosama commented on #222
@jccurtis Yeah, my first example above was rolling the list:

[code]
Just wasn't sure what would be more clear.

If you guys think this makes sense I am happy to give it a shot.

[2021-01-09 03:12] jvavrek commented on #218
Here's my thought:
 1. write a `Fitter.from_spectrum()` classmethod
 2. parse what valid attributes/properties the `Spectrum` has into strings for the plots

The problem here is that a `Spectrum` can have any or all of multiple sets of units:
 - x: `bin_centers_raw`, `bin_centers_kev`, or even `bin_indices`
 - y: `counts`, `cps`, `cpskev`

and the `Fitter` just uses raw `x` and `y` values like so:

[2021-01-09 03:58] jvavrek commented on #218
... and `spec.__dict__[key]` is complicated by the fact that we might want to fit, e.g., `cpskev`, which only exists as a `property`, and not in the `__dict__`.

It looks like `SpectrumPlotter.{xmode, ymode}` might actually be the solution here, but it probably needs updating.

[2021-01-13 20:50] cosama opened #225 "Initial guess of fitting can be improved for Gaussian"
The intial guess for fitting seems to be off by about a factor of 2 or so for the gaussian case. I never managed to track this down, but I assume it is related to some normalization with the bin with or a factor of `2*pi`.

[2021-01-14 00:24] #222 closed

[2021-01-14 01:56] jvavrek commented on #225
This might be a bit redundant with #219.

Anyway, for the Gaussian in particular, we currently guess the amplitude as just the sum of all (normalized) bins in the ROI, which can be heavily influenced by a high background far from the peak centroid.
[code]

I suggest instead:
[code]

(this might not work well in somewhat pathological cases where the background is higher than the peak at edge(s) of

[2021-01-14 03:01] cosama commented on #225
Could it be that we actually get the right initial value but it is plot wrong? I agree that it is overestimated if there is a background, but I have observed that it is also looks overestimated when there is no background at all, at least on the graph.

[2021-01-14 04:03] cosama commented on #225
Just checked and the code seems fine plotting it. It is using the same calls as the model graph.

[2021-01-14 04:38] jvavrek commented on #225
Do you have an example of overestimation with no background handy?

[2021-01-14 05:20] cosama commented on #225
Looks like I was wrong again:

[code]

![gausstest](https://user-images.githubusercontent.com/7439971/104547470-7db6c800-55e3-11eb-8b2d-ef9f8105e9dd.png)

Really can't remember what I was trying to do. I would suggest:

[code]
as the initial guess.

[2021-01-14 05:36] jvavrek commented on #225
Can you show that plot?

[2021-01-14 05:40] cosama commented on #225
Never mind, it actually just worked above because the bin_size was 1.

[code]
![gausstest](https://user-images.githubusercontent.com/7439971/104549318-814c4e00-55e7-11eb-93c9-8525db4d61d6.png)

@jvavrek I added it to the previous comment.

[2021-01-14 06:30] jvavrek commented on #225
@cosama so that I have all the options correct: this tells us that the existing guess for the amplitude performs poorly when the bins are not all 1?

[2021-01-14 06:33] jvavrek commented on #225
The `bin_size = 0.5` example suggests we're guessing twice the real amplitude, i.e., dividing by `dx = bin_size = 0.5` where we don't need to.

[2021-01-14 15:30] cosama commented on #225
Yeah, but looking at the code it seems fine, not sure why this is the case. Maybe we have to initialize it with `amp = np.sum(y[msk])` instead of `amp = np.sum(y[msk]/dx[msk])`?

[2021-01-14 18:08] jvavrek commented on #225
I think you're correct here, since the curve should have the same units as the histogram. If we increase the bin size by a factor of 2, thereby increasing the counts per bin by a factor of 2, the amplitude should also increase by a factor of 2. It is only in the final step when we want to interpret the number of counts in terms of the amplitude that we need to divide by `dx`.

[2021-01-14 18:34] cosama commented on #225
@jvavrek Yeah when I implemented `dx` I think I made an error of thought. `amp` is the integrated number of counts. The normalization by bin with is included in `sigma` So I think we have to remove the `dx` there which means that the initial guess actually won't depend on `dx` at all.

[2021-01-14 19:06] jvavrek commented on #225
@cosama We should write a test or at least a notebook example for this:
 - [ ] sample a gaussian say 10000 times, compute guesses at various binwidths, ensure they change as expected, and ensure that the final `amp/dx` or whatever is close to 10000

[2021-01-14 19:12] jvavrek commented on #225
Agreed. The fit routines just see `x` and `y` and are agnostic to binwidths.

[2021-01-25 04:29] jvavrek commented on #225
Another nice feature I just thought of:
- [ ] add error bands to the plot around the fit result

I don't know offhand how to define ±1 sigma error bands when you have multiple fit parameters... to be determined.

[2021-01-26 06:05] jvavrek commented on #225
https://lmfit.github.io/lmfit-py/model.html?highlight=modelresult#calculating-uncertainties-in-the-model-function

[2021-01-27 00:38] jvavrek opened #226 "IsotopeQuantity has a kwarg `date` that cannot be a `datetime.date` object"
The kwarg `date` in IsotopeQuantity (and its docstring) suggest that a `datetime.date` object should work, but it won't:
(note for posterity that the actual calibration date of this source is Apr 1, 2019)
[code]

Instead it requires a`datetime.datetime` object, i.e., an additional time specification. Can we just set the time to 12 noon like I think most of these sources do, and maybe throw a warni

[2021-02-03 20:37] markbandstra opened #227 "Enable parsing a `Spectrum` from a string"
Currently a `Spectrum` can be parsed from a file but not from a string with the same content.

[2021-02-03 20:42] markbandstra opened #228 "Reconfigure how `__metadata__` is handled"
Instead of writing `__metadata__.py` from information in the README and elsewhere, have `__metadata__.py` be in the repo and be the source of this other information.

[2021-02-04 03:26] #218 closed

[2021-02-17 20:34] jccurtis opened #232 "Energy resolution"

[2021-02-17 20:38] jccurtis commented on #232
from @cosama

[code]

[2021-02-17 20:43] jccurtis commented on #232
I've used the following for NaI(Tl):

[code]

[2021-02-17 20:45] cosama commented on #232
Bunch of different resolution functions with references: https://doi.org/10.1016/j.nima.2012.02.006

[2021-02-17 20:46] jccurtis commented on #232
- [ ] Add valid range of energies

[2021-02-17 20:49] markbandstra commented on #232
TODO from our meeting
- [ ] toggle sigma or FWHM
- [ ] toggle absolute or relative
- [ ] choose channel-channel or energy-energy
- [ ] set range of validity (default `(0, None)` or `(0, np.inf)`)
- [ ] integrate into `Spectrum` following pattern of `EnergyCal`

[2021-02-17 20:49] jvavrek opened #233 "CI/linting/formatting"
TODO as last steps before prepping for JOSS:
 - [x] linting
 - [x] formatting with `black`
 - [x] drop python 2.7
 - [x] CI

[2021-02-17 21:28] jccurtis opened #234 "Build out IsotopeLibrary"
We have discussed adding/extending the features of the isotope lib including:

- [ ] auto caching or including a cached version of the wallet cards in the repo for offline/testing use (is this a licensing issue?)
- [ ] adding **configuration** for single isotope to energy mapping
- [ ] creating a standard for isotope naming
- [ ] creating a unique encoding for isotope+energy entries (maybe hashing

[2021-02-18 22:06] jvavrek commented on #226
In addition, it could be useful for all the `_at()` methods to have a default `date` of now:
[code]

[2021-02-18 22:07] jvavrek commented on #226
Thoughts on this one @cosama ?

[2021-02-18 22:32] cosama commented on #226
Yeah that sounds reasonable.

On construction we can just test if it is a date object `isinstance(date, datetime.date)` and then create a datetime object with `date = datetime.datetime(date.year, date.month. date.day)`.

Also we would need a few updates to the doc strings.

Want to put in a merge request? This should be quick.

[2021-02-18 22:40] jvavrek commented on #226
Yeah, will do

[2021-02-23 06:22] jvavrek commented on #232
One thought I just had: it would be really convenient to have a `classmethod` that is supplied a single energy and resolution (whether absolute or relative) like:
[code]

Depending on how we structure things, we could have a `SqrtEModel` subclass from an abstract `EnergyResolutionModel`. Then one-parameter models like `SqrtEModel` can be constructed from a single point, hence the `from_point` meth

[2021-02-26 20:49] jvavrek commented on #225
Note this will also trickle down to `gausserf`, for example:
<img width="514" alt="Screen Shot 2021-02-26 at 12 47 02 PM" src="https://user-images.githubusercontent.com/7683814/109353216-e8892f00-7830-11eb-8bc1-1a2c81b9433c.png">

[2021-03-04 20:34] #225 closed

[2021-03-04 22:52] #226 closed

[2021-03-05 04:07] jccurtis opened #243 "Python 3.9 support"
We currently don't support python3.9 explicitly because of missing pypi wheel support for [llvmlite](https://github.com/numba/llvmlite/issues/669). Python3.9 will be supported by [numba](https://github.com/numba/numba/pull/6685) very soon (currently in beta). That said, you still need to compile `llvmlite` yourself. For now, becquerel does not officially support python 3.9 but it will likely work

[2021-03-11 18:55] #216 closed

[2021-03-11 18:57] jccurtis commented on #233
Closed with #242

[2021-03-11 18:57] #233 closed

[2021-03-11 18:57] jccurtis commented on #182
Closed with #242

[2021-03-11 18:57] #182 closed

[2021-03-11 19:00] jvavrek commented on #219
This was closed by #238

[2021-03-11 19:00] #219 closed

[2021-03-11 19:01] jvavrek commented on #180
This was closed by #231

[2021-03-11 19:01] #180 closed

[2021-03-11 19:04] jvavrek commented on #50
Closed by #146

[2021-03-11 19:04] #50 closed

[2021-03-11 20:52] markbandstra opened #245 "Refactoring and simplifying calibrations"
I propose refactoring and simplifying our calibrations by creating a new, simpler base class for all calibrations of any kind. At their essence, calibrations are simply functions that map some scalar quantity (raw channels or energy in keV) to some scalar quantity. Specific types of calibrations are energy calibrations (raw->keV), energy resolution calibrations (keV->keV), and efficiency calibrati

[2021-03-12 20:49] jccurtis commented on #179
@markbandstra will #244 clean up the file parsing?

[2021-03-12 20:50] jccurtis commented on #181
@jasonmhite just following up on old issues. Did you put together a refactored spe parser?

[2021-03-12 20:57] jasonmhite commented on #181
@jccurtis partially, but I ended up getting too busy to quite polish it. Maybe I can go dust it off if there is still interest?

[2021-03-12 21:05] jccurtis commented on #181
Good to hear from you! Yeah definitely. Even if you just open a PR we could branch off of it and finish it up if you don't have the time. Even if the PR is just a quick fix for the ROI section. The parser refactor is a much larger effort which we need to think about ...

[2021-03-12 23:31] jvavrek opened #247 "ROOT file I/O"
We might be able to provide basic ROOT file I/O using `uproot`
https://pypi.org/project/uproot/

Certainly could be useful for importing e.g. Geant4 results stored in ROOT files into a `Spectrum`

[2021-03-13 01:27] markbandstra commented on #181
@jasonmhite In case it would be helpful, I am in the process of adding full read/write support for spectra using the HDF5 format, and it will also store the calibration information. If you already have the SPE format I/O working then this might not be as useful to you, but just FYI it's #244.

[2021-03-13 01:33] markbandstra commented on #179
@jccurtis Yes, I would like to clean up the inheritance structure of the parsers in #244, however my vision was to abandon the idea of ever outputting into those formats and focus only on output to hdf5. In my mind it seems like that choice will make the overall task simpler, but I could be wrong as I haven't gotten that far.

[2021-03-25 21:48] jvavrek opened #253 "Easy caching with functools?"
See here: https://docs.python.org/3/library/functools.html#functools.cache

We might consider using the `functools.cache` or `cached_property` to prevent some repeat calculations. There's probably not a lot of performance-critical code here to be improved, but it's worth trying out.

[2021-03-31 19:55] cosama opened #255 "Improved documentation of fit bounds, better linear bounds"
* We probably should add some information to the fitting notebook how to change the bounds set automatically for most of the models.
* Can we limit the linear slope to be positive in the roi? Can we do it such that the fitting adheres to it (e.g. as a function instead a fixed value).

[2021-04-05 16:35] cosama opened #256 "Fitter.custom_plot fails if roi is not defined"
I currently get this error:

[code]

if I don't provide the `roi` kwarg to `Fitter.__init__`. Temporary fix is to use `roi=[0, np.inf]`. Seems like by adding ROI to the custom_plot output we require this to be populated.

[2021-04-05 17:39] jvavrek commented on #256
Ah, I see, it's the `0:.3f` formatting that breaks it. I guess a full `if` would be more complete:
[code]

[2021-04-06 17:09] markbandstra opened #257 "Fitter.custom_plot fails if more than three model components"
`Fitter.custom_plot` fails with a `IndexError: list index out of range` if there are more than three components to the model. The culprit is [this line](https://github.com/lbl-anp/becquerel/blob/main/becquerel/core/fitting.py#L853-L854):

[code]

A possible fix would be to extend the list like this:
[code]
where I left out `"C1"` and `"C3"` since they are similar to other colors used in the plot (

[2021-04-06 17:18] markbandstra opened #258 "Fitter subclasses no longer work"
The [subclasses of `Fitter`](https://github.com/lbl-anp/becquerel/blob/main/becquerel/core/fitting.py#L974-L1061), namely `FitterGausGaus`, `FitterGausGausLine`, and `FitterGausGausExp`, no longer work. The failure is

[code]

The problem seems to be that they no longer follow the `Fitter` API correctly. It seems that their `make_model` methods do not get called, instead the base class's `_make_mo

[2021-04-06 18:32] jvavrek commented on #257
I'm in favour of this fix. No more magic hex values! Could we automate the colour selection instead of a fixed list of 8? An fstring like f"C{i}" could handle it if we correctly tell it to skip C1 and C3 and those colours every time they come around in the cycle.

[2021-04-06 18:35] jvavrek commented on #258
@markbandstra do you mind finding the last commit where they did work?

[2021-04-06 19:28] cosama commented on #258
@jvavrek I suspect they never did. I think they were an artifact of before we implemented the simplified model creation through a string list. At that point we changed how models are handled and realized that we only really need a single generic `Fitter` class. I think these models should be created through:

[code]

etc.

[2021-04-06 19:52] markbandstra commented on #258
Looks like they worked until 0436e7ce

In that refactoring, `Fitter.make_model` is changed to `_make_model`, and various `Fitter` subclasses like `FitterGauss` and `FitterGaussLine` are removed, presumably because they were made obsolete. My hunch is that the others remained because they involve multiple gaussians and so their `_guess_param_defaults` methods are valuable.

[2021-04-06 20:40] markbandstra commented on #257
@jvavrek Good point, why keep the list a fixed but longer length if we can make it infinite.

How about this? Probably could be simplified further, and there are certainly other ways to do this:

[code]

[2021-04-06 20:45] jvavrek commented on #257
@markbandstra nice, I didn't know about `set_prop_cycle`. Something like that would be great.

[2021-04-06 20:47] cosama commented on #258
@markbandstra Exactly. I think they remained because we haven't moved them to `GaussGaussModel`, etc, while the others are available as models now. and it must have been on one of the lists in the fit merge request, but got lost at some point.

It should be worth thinking about how to define the initial values for such a model though. Maybe parameters could be directly passed in with lower and upp

[2021-04-06 21:06] markbandstra commented on #258
@cosama we could have `_guess_param_defaults` detect if there are identical models of any type and add dispersion to any centroid-like (centroidoid?) parameters. Or always call `guess` with `center_ratio=(1 + j)/(1 + n)` for the `j`th gaussian if there are `n` gaussians.

[2021-04-12 20:59] arunpersaud opened #263 "Peakfinder finds double peaks"
Hello

when using a LaBr spectrum (I assume you mostly use Ge?) I get double peaks from the peakfinding algorithm. The problem seems to be in

d2 = self.snr[2:] - 2 * self.snr[1:-1] + self.snr[:-2]

of peakfinder.py

![Figure 1](https://user-images.githubusercontent.com/425653/114461802-08817180-9b97-11eb-99ed-281af41ee2b7.png)

if I change the above line to

peak = (d1[2:] < 0) & (d1[1:-1] > 0) &

[2021-04-12 21:08] jvavrek commented on #263
@arunpersaud I have noticed the same behavior recently in CLLBC. Thanks for the proposed fix—I'll take a look when I have a chance!

[2021-04-12 21:15] arunpersaud commented on #263
sounds good... this is around line 387 in core/peakfinder.py

[2021-04-20 04:36] jvavrek commented on #263
@arunpersaud do you still have this issue after the recent PRs? I don't have this problem in my analysis anymore, but that may be a result of adjusting the FWHM until the problem disappeared.

[2021-04-20 14:57] arunpersaud commented on #263
yes, I had this problem still after fixing the FWHM

[2021-04-23 21:03] jvavrek commented on #263
@arunpersaud I was able to replicate this. With your snippet above, on my data, it picks the left point whereas the right point should be the identified peak. @markbandstra and I are working on a fix in #266.

[2021-04-23 23:52] jvavrek commented on #263
@arunpersaud can you test if PR #266 works for you? If so, can we add your example above as a test?

[2021-04-28 20:30] #40 closed

[2021-04-28 20:30] #228 closed

[2021-05-04 17:58] markbandstra commented on #263
I was able to reproduce this behavior as well on some test data, but only if I pulled out the [specific code in peakfinder.py](https://github.com/lbl-anp/becquerel/blob/main/becquerel/core/peakfinder.py#L393-L402) that calculates the first and second derivatives and the peak finding logic, like this:

[code]

![Figure_1](https://user-images.githubusercontent.com/1197880/117048010-5fc2bf80-acc7-11e

[2021-05-06 17:53] jvavrek commented on #263
@markbandstra great point, I think I only see this problem when I don't specify `min_sep` appropriately.

Maybe we can default `min_sep` to the bin width?

[2021-05-06 18:10] markbandstra commented on #263
@jvavrek sounds good, and I'm also in favor of adjusting the peak-finding logic as you've already done on #266.

Maybe something like having `min_sep=None` as default, and then if it is `None` use the `spectrum` to find the bin width.

[2021-05-06 18:21] jvavrek commented on #263
@markbandstra I agree. The only issue is non-uniform bins. I guess we can look up the bin width for each trial centroid.

Re: #266, I just adapted your code above into a regression test of sorts. The old logic, written directly into the test, will produce two peaks, while the new logic, called through `finder.find_peaks()`, is tested to ensure only one peak is produced.

[2021-05-06 20:08] jvavrek opened #270 "Set peakfinder min_sep based on bin width(s)"
From #263, it would be useful to set the `min_sep` in the peak finder based on the bin width. The complication here is accounting for non-uniform bins—we'll need to look up the bin width of a prospective peak, rather than just use e.g. `spec.bin_widths_raw.min()`

[2021-05-06 20:53] jvavrek commented on #263
@arunpersaud we just merged #266 . Can you check if that works for your data?

[2021-05-12 19:16] arunpersaud opened #271 "issue instaling on new apple silicon"
Just installed becquerel on a new macbook pro with a M1 chip and ran into some issues with numba. It seems to be available via conda, but I was not able to just pip install it. In the end I cloned this git repo and just deleted the numba references before installing a local version.
I believe the main issue is that numba is hard to compile on M1 at the moment and there are issues (for example, htt

[2021-06-02 16:57] cosama opened #272 "np.float is deprecated"
I get a lot of these now:

[code]

Should be an easy fix.

[2021-06-02 17:30] cosama opened #273 "linthreshy has been renamed to linthresh"
Shows up during the tests:
[code]

We rely heavily on that, should we follow suit?

[2021-06-02 19:36] #272 closed

[2021-06-02 20:15] #273 closed

[2021-06-22 21:49] cosama commented on #209
I think this has been resolved with #211. Closing.

[2021-06-22 21:49] #209 closed

[2021-06-23 01:54] arunpersaud opened #277 "possible solution to lmfit-pml issue?"
This is in regards to the fitting problem described in #251, but since it doesn't relate to minuit a new issue is probably the best place to post this.

Also just as a note, I don't really understand the details of this issue, so not sure if the comment here actually applies or if this is just a random coincidence that makes things look as if they work ;)

I noticed that when I install numdifftool

[2021-06-23 02:54] cosama commented on #277
That is a very interesting observation. Would you mind copying your email into an issue on the becquerel webpage so that we can track this discussion? I will copy my answer there as well later if you do so.

I wrote that code a while back and don't remember all the details. I think `lmfit-pml` produced weird uncertainties when `numdifftools` was installed, so I decided to disable any uncertainty c

[2021-06-23 03:13] markbandstra commented on #277
That would be my guess. It looks like `lmfit` usually works with residuals and minimizing the sum of their squares, just like `scipy.optimize.leastsq`. The chi-squared statistic is exactly this sum, and in gaussian statistics the chi-squared statistic is 2 times the negative log likelihood, up to an additive constant. Likewise, `model - scipy.special.xlogy(data, model)` is the Poisson negative log

[2021-06-23 05:40] arunpersaud commented on #277
I used the code in issue #251 which can be used as a MWE. Something like:

[code]

[2021-06-23 20:16] markbandstra commented on #277
Thanks @arunpersaud

@cosama as we discussed at the meeting today, there is an easy fix here, to include the factor of 2 in the `reduce_fcn` [here](https://github.com/lbl-anp/becquerel/blob/8f26ec36dd0748160b8b59885c6edbe6736a28ae/becquerel/core/fitting.py#L660).

Another fix could be to use the deviance residuals. Not sure if this will work properly, but it would involve modifying [this line](htt

[2021-07-14 23:29] #257 closed

[2021-08-19 16:31] #245 closed

[2021-08-21 00:11] markbandstra commented on #133
This issue has been addressed somewhat by the new `Calibration` class in #248. Okay to close or keep open?

[2021-08-21 00:12] markbandstra commented on #99
Closed by #248

[2021-08-21 00:12] #99 closed

[2021-08-21 00:15] markbandstra commented on #32
Such a calibration can be captured with the new `Calibration` class (#248), but it is not yet integrated into `Spectrum` in any way.

[2021-08-21 00:15] #32 closed

[2021-08-21 00:17] markbandstra commented on #232
An energy resolution calibration like this could be easily handled by the new `Calibration` class (#248). However, we would have to figure out how/whether to integrate the features enumerated above.

[2021-08-23 17:20] jvavrek commented on #133
Probably OK to close, unless you think there are any features missing.

[2021-08-23 17:28] #133 closed

[2021-09-01 19:32] jvavrek commented on #263
@arunpersaud closing for now. Let us know if you run into this issue again.

[2021-09-01 19:32] #263 closed

[2021-09-01 19:34] jvavrek commented on #270
Could handle the uniform case automatically, and warn/error if the bins are non-uniform.

[2021-09-01 19:53] jvavrek commented on #65
https://numpy.org/doc/stable/reference/generated/numpy.expm1.html

[2021-09-03 20:19] jvavrek opened #283 "Reading in already-calibrated listmode data causes other utils to fail"
For example, in `peakfinder.py`, the auto-calibrator only looks for the raw edges:
[code]

As a workaround, one can set `spec.bin_edges_raw = spec.bin_edges_kev`, but we should think about a better solution in the future.

Tagging @markbandstra

[2021-09-30 18:18] cosama opened #286 "Python 3.9"
We should probably move tests to 3.9 and deploy pypi packages with that version from now on.

[2021-09-30 21:52] #286 closed

[2021-10-07 23:45] #44 closed

[2021-10-07 23:45] #179 closed

[2021-10-07 23:45] #181 closed

[2021-10-07 23:45] #19 closed

[2021-10-07 23:45] #103 closed

[2021-10-20 20:27] jvavrek opened #298 "Short-lived nuclides"
Currently I don't think `becquerel` does any special handling for short-lived nuclides. This is OK in most of our cases where the measurement duration is much shorter than the lifetime of the nuclide, but we should probably document this and at least warn if the duration becomes comparable to the lifetime.

[2021-10-20 20:43] jvavrek commented on #298
@markbandstra you're correct on decay correction. I'm trying to determine if there are any places in `IsotopeQuantity` that make the short-measurement assumption. Or maybe that analysis always lives outside of `becquerel`.

[2021-10-20 23:48] #298 closed, assigned to nobody

[2021-12-14 01:04] jvavrek opened #302 "Fitting two peaks should return params in a well-defined order"
I'm currently getting something like
[code]

We should sort these in ascending order.

[2021-12-14 01:44] markbandstra commented on #302
Do you think this sorting is best done after the fitting has been performed (e.g., renaming the parameter names based on their order), or encoded in the parameter constraints before fitting? For the latter the [documentation says](https://lmfit.github.io/lmfit-py/constraints.html#using-inequality-constraints) we would have to introduce an auxiliary variable, like this:

[code]

Maybe this could be

[2021-12-14 01:45] jvavrek commented on #302
Renaming after the fit was the first thing I thought of, but I imagine that could break all kinds of internal data. Probably best to introduce that auxiliary variable.

[2021-12-14 01:50] markbandstra commented on #302
If that approach works well, I think it would be a cleaner way to do it -- e.g., (I don't know for sure) but renaming could mess with the covariance matrix. I guess we could check for multiple `gauss*_mu` and add some logic (in case there are three). Are there other model types we would want to sort like this?

[2021-12-14 19:24] jvavrek commented on #302
We should probably handle multiple `expgauss` as well. Or any other peak variants, or combinations thereof (e.g. one "gauss", one "expgauss").

[2021-12-15 20:58] jvavrek commented on #302
In the meantime, one can use the `limits` kwarg to specify non-overlapping ranges, at least with `backend="iminuit-pml"`:
[code]

[2021-12-18 01:14] jvavrek opened #305 "ErfModel fails unless coupled to a GaussModel"
The `guess()` method of `ErfModel` defines its guess for its `sigma` parameter by looking for an existing parameter called `gauss_sigma`:
[code]

But if your peak is an `expgauss`, then it won't find anything, and it'll error out. Is there a more robust guess we can use?

Tagging @cosama

[2021-12-18 16:46] cosama commented on #305
That was not intended to be like that. We especially moved to a `GaussErfModel` to be able to couple the two. They were separated earlier in the development of the fitting module, but we thought it was odd to have it coupled.

I would use a guess similar to the gaussian case:

[code]

with an additional arguement to the `guess` function of something like `width_ratio=0.5`.

Side note: Not sure abo

[2021-12-20 22:25] #305 closed

[2022-01-06 05:02] jvavrek opened #307 "Revisit pytest max version in #303"
[Upper bound constraints are generally bad](https://iscinumpy.dev/post/bound-version-constraints/). We should revisit the `pytest` upper version added via #303 at a later date and see if we can switch it to e.g. `!=pytest-single-buggy-version`, whatever that may be.

[2022-01-14 21:47] jvavrek opened #309 "Incompatibility between calibration and parsers when calibrated energies can be negative"
Often we can end up with negative calibrated energies, e.g., in the first few bins if the calibration linear term is negative. These are clipped to zero by default in the new calibration module. However multiple zero edges will throw an error that the bin edges are not monotonically increasing.

One can normally change the clipping on the domain and range when doing calibrations manually, but not

[2022-01-20 00:53] micahfolsom opened #313 "A few tweaks needed in core/fitting.py"
While implementing the new model, I noticed a few things:

1. The `num` args of `ConstantModel.guess()` and `LineModel.guess()` are not used
2. The divides in `expgauss()` (in the same file) could be multiplies for potentially significant performance improvements (I would want to demonstrate this to be sure, though)
3. Almost none of these functions/models have docstrings

I'll probably address th

[2022-01-20 02:14] jvavrek commented on #313
I took a quick look at changing `expgauss` with some toy data and found no significant speedup:
[code]

[2022-01-20 03:03] micahfolsom commented on #313
Great, thanks for checking!

[2022-01-21 17:36] cosama commented on #313
I think in general using multiplies is a good choice, particular with 2 (0.5), but you probably need a lot of these cases for it to really make a significant difference. It also looks like numpy is probably not as sensitive to this (maybe they do some optimizations here):

[code]

Also googling this a bit, it looks like there might be also the issue with 0.5 not actually being exactly 0.5 in it's

[2022-01-21 18:31] markbandstra opened #314 "Calibration should raise a warning if it needs to clip to its range"
A few times in practice a situation like the following has come up:

[code]

And the result is that the `Spectrum` raises a `ValueError`:

[code]

The issue is that for the first few channels near zero, the calibration curve produces a negative output, and it implicitly clips it to the default range of `0` to `1e5`. So when the `Spectrum` sees that the first few channels have zero width in energy

[2022-01-21 18:33] markbandstra commented on #314
To be clear, the solution is to simply provide a wider `rng` when creating the `Spectrum`:

[code]

And no error is raised. And the warning would be to point the user to this solution.

[2022-01-21 20:39] jvavrek commented on #313
@cosama 0.5 should be exactly 0.5 in floating point

[2022-02-02 20:56] jvavrek opened #316 "Refactor fitting test to use nested fixtures"
Currently the `HIGH_STAT_SIM_PARAMS` is pretty inflexible, as it can't take an `lmfit` model or even a `becquerel` model, only string names. It would be great to generalize these tests, but trying to figure out how is very difficult given the current state of how we test. We should refactor for clarity including nested fixtures.

[2022-02-10 01:07] micahfolsom opened #317 "pandas MultiIndex error when calling Fitter.custom_plot()"
While adding an example to the `fitting` notebook for [this PR](https://github.com/lbl-anp/becquerel/pull/312), I ran into a weird error. As far as I can tell I'm doing the same exact thing as the double Gauss example earlier in the notebook. The code:

[code]

For some reason, the fit works fine and yields the expected result. The failure occurs on `fitter.custom_plot()`:

[code]

Any ideas what'

[2022-02-10 01:14] jvavrek commented on #317
Can you print `df.index` in `param_dataframe()`?

[2022-02-15 18:48] jvavrek commented on #314
As mentioned this is also an issue for `Spectrum.from_file(), because it doesn't currently accept an `rng` kwarg that can be passed into the parser:
[code]

[2022-02-15 18:52] markbandstra commented on #314
@jvavrek good point. Would it be helpful (to too complicated) to pass a `cal_rng` kwarg or something of the sort to `from_file`? Otherwise we could just make the default `rng` extremely generous, but that has its own problems.

[2022-02-15 18:57] jvavrek commented on #314
Maybe a generic `**cal_kwargs`?

[2022-02-16 20:25] markbandstra commented on #317
Looks like it's due to more than one underscore in some of the parameters, so `tuple(p.split("_")) for p in df.index` has different numbers of elements.

[2022-02-16 20:38] markbandstra commented on #317
Maybe we need to ensure that we enforce non-empty prefixes ending in an underscore when models are instantiated, since the `sort_by_model` statement here requires this convention. (`DeprecationWarning` for now?)

[2022-02-16 20:49] micahfolsom opened #320 "Inconsistent interface for fixing fit parameters"
In writing the test for <PR>, I needed to fit some of the troublesome fit parameters, and found that there's no consistent way to fix fit parameters. `lmfit` and `minuit` have different interfaces, and it'd be nice if we provided a central way that handled both. For `lmfit`, this would mean passing the `vary=` arg, and for `minuit`, this is setting `fixed=`.

Here's what I had to do in the test (`

[2022-03-09 18:37] jvavrek opened #321 "Livetime fraction in IsotopeQuantity"
We can create an `IsotopeQuantity` from a number of observed decays plus a start and stop time. However if the detector isn't operating at 100% livetime, the assay time needs to be corrected for the livetime fraction.

Currently one can do
[code]
but maybe we could add a `livetime_frac` kwarg to `from_decays()` or other methods.

[2022-03-24 19:54] markbandstra opened #324 "Latest Compendium materials JSON causes errors"
The latest version of the materials data from the [PNNL Compendium](https://compendium.cwmd.pnnl.gov) cannot be parsed by the current version of `becquerel`.

Downloading the latest JSON and placing it into `becquerel/tools` and calling `bq.tools.force_load_and_write_materials_csv()` causes the following error:

[code]

It seems from looking at a JSON from a few months ago and a JSON downloaded to

[2022-03-28 14:52] jaromrax opened #325 "Isotopes notebook has errors"
# Comment 1

[code]
gives nan g

# Comment 2

[code]
is shown many times....

# Comment 3

[code]
appears also sometimes in different notebooks.

# Comment 4

Also JSON from compendium may not be loaded with all materials...

[2022-03-28 17:11] jccurtis commented on #325
Hi @jaromrax, thanks for the notes! I've added some sections to your description to improve our ability to address each one.

1. Can you expand this to a MWE, i.e. what are the `iso2`, `barns`, `iso` and `activated_qty` vars?
2. See #326, this will go in soon. Thanks for the head's up!
3. I cannot find this text in any of our notebooks. I believe this was fixed here: https://github.com/ipython/ipy

[2022-03-28 17:40] markbandstra commented on #325
Yes, I'm guessing comment 4 pertains to #324, and I hope to get in a fix soon.

[2022-03-28 18:50] jccurtis commented on #325
Excellent, thanks @markbandstra!

[2022-03-28 19:49] jvavrek commented on #325
Na-23 is stable, so the division by `self.decay_const` (which is `0`) produces the `nan`. @jccurtis @markbandstra I think there's a physics error in the example, not in the `IsotopeQuantity` code.

[2022-03-28 19:54] jvavrek opened #327 "Reformat all docstrings to numpydoc style"
Files such as `isotope_qty.py` still use an older docstring style. My VSCode sees this and uses 2 spaces per tab instead of the standard 4. We should update the older files to use the numpydoc style, and @micahfolsom optionally check this automatically e.g. with `pre-commit`.

[2022-03-28 22:55] micahfolsom commented on #317
This will be fixed by https://github.com/lbl-anp/becquerel/pull/312 which splits the "model_param_name" string on only the first `_`, instead of all of them, so it doesn't trip up on param names with underscores

[2022-03-29 12:52] werthm commented on #309
I agree, this is an issue for me as well. DEFAULT_RANGE should allow negative energy values as well.

[2022-03-29 16:57] jvavrek commented on #309
I believe @markbandstra is working on this in #319

[2022-03-31 23:33] jccurtis opened #332 "Flaky NNDC tests failing"
We still have the flaky tests failing in the CI. See this [pipeline](https://github.com/lbl-anp/becquerel/runs/5779050487?check_suite_focus=true)

- [x] Add to dev requirements

[2022-04-01 00:01] jccurtis commented on #325
@jvavrek thanks for the context. Totally makes sense. I think the comments have all been addressed.

@jaromrax let us know if these comments address the issues you have encountered. Thanks!

[2022-04-01 00:24] jvavrek commented on #332
Those tests are indeed marked with `flaky` but it's possible they failed all three times if the NNDC server was down for a few seconds:
[code]

[2022-04-01 00:25] jccurtis commented on #332
@jvavrek can we all a timeout between reruns?

[2022-04-01 00:33] jvavrek commented on #332
Oh and the package is not `pytest-flaky` but [`pytest-rerunfailures`](https://github.com/pytest-dev/pytest-rerunfailures), which is in `requirements-dev.txt`.

[2022-04-01 00:34] jccurtis commented on #332
Maybe we can add the following to try three times with a 2 second delay only for

[code]

(Not sure on the only_rerun syntax - it might need to be a string or a list of exceptions.)

[2022-04-01 00:54] jvavrek commented on #332
I don't think that's supported yet: https://github.com/pytest-dev/pytest-rerunfailures/issues/164

[2022-04-01 01:22] markbandstra opened #334 "Rebinning uses first and last bin as overflow bins"
When using `bq.rebin` or `bq.Spectrum.rebin`, the default behavior is to silently include all data outside the new binning scheme in the leftmost bin (if less than the leftmost bin edge) or in the rightmost bin (if greater than the rightmost bin edge). This behavior is unexpected and not documented. I think it should be controlled by a kwarg that defaults to disabling the behavior.

This behavior

[2022-04-04 20:10] #324 closed

[2022-04-05 02:30] jvavrek opened #336 "Run tests in parallel with `pytest-xdist`"
@jvavrek can we change the tests to use xdist and run in parallel?

_Originally posted by @jccurtis in https://github.com/lbl-anp/becquerel/issues/333#issuecomment-1087928469_

I was unable to get `pytest-xdist` to work properly—it seems to cause race conditions when used in conjunction with `pytest-cov`. Perhaps we can revisit this in the future. See the original post for further discussion on th

[2022-04-08 02:00] RobJY commented on #336
I found [this post on SO](https://stackoverflow.com/questions/4637036/is-there-a-way-to-control-how-pytest-xdist-runs-tests-in-parallel) that suggests adding `--dist=loadfile` to the call to `pytest` to get all the tests in a given file to run on the same worker.  I tried this on a Docker container running the Python 3.9 image and went from getting multiple failed tests to none.  I'm only running

[2022-04-08 15:48] jccurtis commented on #336
@RobJY that is a great find. Thank you for that! @jvavrek want me to make a separate PR with just feature?

[2022-04-08 18:05] jvavrek commented on #336
@jccurtis if you have time for it. If not, I can try it this afternoon.

[2022-04-08 18:41] jccurtis commented on #336
@jvavrek see #337

[2022-04-08 21:34] #336 closed

[2022-04-14 20:56] #314 closed

[2022-04-14 20:57] markbandstra commented on #309
Closed by #319

[2022-04-14 20:57] #309 closed

[2022-05-02 19:34] jvavrek commented on #317
@micahfolsom did #312 solve this? If so, please close this issue.

[2022-05-05 21:48] jvavrek opened #340 "Model.from_scipy()"
On occasion we have fit guesses and bounds in scipy format and it would be nice to cleanly pass them to a `Model` object to take advantage of our `lmfit`/`minuit` fitting capabilities. A classmethod like `Model.from_scipy()` could do the trick, but since that's really `lmfit.Model`, I don't know how to make this work across the whole module.

[2022-05-06 20:13] #317 closed

[2022-05-16 19:35] #332 closed

[2022-05-16 19:40] jvavrek commented on #325
Closed by #339 #333 #326

[2022-05-16 19:40] #325 closed

[2022-05-16 19:43] jvavrek commented on #307
This was removed in #333 and seems to be working fine.

[2022-05-16 19:43] #307 closed

[2022-05-16 20:25] jvavrek commented on #87
As we're moving away from CSV to hdf5 formats and there generally isn't a _standard_ CSV format, I vote to close. The user can always use `np.loadtxt` or `np.genfromtxt` or `pandas` and pass data to `Spectrum`. Similarly there is an `np.savetxt` for output.

[2022-07-11 20:03] cosama commented on #243
We do support python3.9 for a while now. Closing

[2022-07-11 20:03] #243 closed

[2022-07-14 00:23] jvavrek opened #345 "Model prefixes must start with the model name"
[code]
works fine but
[code]
ends up causing an error when
[code]
is called, even if each of the `params` is prefixed with `"lo"` or `"hi"`, e.g., `"lo_sigma"`.

[2022-08-23 00:01] #334 closed

[2022-08-23 17:08] arunpersaud opened #350 "Exception during peak finding"
I ran into a problem where I have a spectrum that has a pileup in its largest bin and the resulting self.snr is constant for the last few bins... this creates a second derivative that d2=0, which raises and exception. Perhaps it's better to just print a warning, so that the program can continue?
<img width="318" alt="Screen Shot 2022-08-23 at 10 00 31 AM" src="https://user-images.githubusercontent

[2022-08-23 17:10] arunpersaud opened #352 "min_snr doesn't change result of peakfinder.find_peaks"
when increasing the min_snr value in find_peaks to a higher value, the number of peaks found does not change, since the list of peaks is not emptied first (simple call to self.reset fixes it). I'll submit a pull request in a minute for this.

[2022-08-30 22:36] jvavrek opened #355 "iminuit parameter lookup does not error on bad parameter names"
![image](https://user-images.githubusercontent.com/7683814/187555557-dfe49625-cb5f-4a06-b986-cd5338934ab9.png)

This feels like a bug in iminuit, not becquerel, but we could certainly check the parameter name first.

[2022-09-23 15:06] arunpersaud commented on #350
Just a quick not that after a discussion with the becquerel team we noticed that there is already code in there that _should_ handle edge cases... I will check if that code can be improved to handle the above case as well

[2022-10-05 23:52] cosama opened #358 "Precision issues of isotope_qty"
The isotope quantity module does two things that are not great for numerical precision: It subtracts two very large numbers or multiplies very large numbers with very small once.

It is hard to get this right and the best (only?) way would be to move the internals to https://github.com/fredrik-johansson/mpmath.

Shouldn't be to much of a lift.

[2022-10-05 23:53] jvavrek commented on #358
@cosama the tricky part is using mpmath with the uncertainties package
https://github.com/lbl-anp/becquerel/pull/281#issuecomment-933968631

[2022-10-19 20:05] markbandstra commented on #358
Could we use the standard library [`decimal` class](https://docs.python.org/3/library/decimal.html)? It seems to provide arbitrary precision and works with `numpy`:

[code]

[code]

And it avoids overflow/underflow:

[code]

[code]

[code]

[code]

(For reference, WolframAlpha gives [`exp(1000) = 1.9700711140170469938888793522433231253169379853238457899528... × 10^434`](https://www.wolframalpha.co

[2022-10-19 20:08] markbandstra commented on #358
Following up on a discussion with @cosama , if we are able to fix this problem by increasing to arbitrary precision, then the root cause of the `IsotopeQuantity` issues is the precision of `Isotope.decay_const`, which is calculated from `Isotope.half_life`, which read from a reference `DataFrame` [here](https://github.com/lbl-anp/becquerel/blob/main/becquerel/tools/isotope.py#L325-L336).

[2022-10-19 20:51] cosama commented on #358
I agree a Decimal would work. It is a bit confusing to me that a Decimal can represent an arbitrary precision Rational Number, goes against my intuition. Looks like Decimals are also faster than `mpmath`. We have to be careful to cast it back to float before using it with any quantity that could be a `ufloat`:

[code]

while

[code]

[2022-11-03 18:17] #352 closed